
<div class="col-1-1 no-padding margin-top-10" ng-controller="articleNewsIndexController as vm">

    <ul class="articles">
       <!-- <li ng-repeat="news in vm.articleNews.data">
            <a ui-sref="" ui-sref-active="active" ng-bind="news.title"></a>
            <img ng-src="{{news.thumbnail|thumb:'60x50'}}" />
        </li>-->
      <li><a href="#">移动互联网时代，短信何去何从?</a> </li>
        <li><a href="#">    Android 高管谈 Lollipop：为何它是Android 重大
        版本更新？</a> </li>
        <li><a href="#">移动互联网时代，短信何去何从?</a> </li>
        <li><a href="#">移动互联网时代，短信何去何从?</a> </li>
        <li><a href="#">移动互联网时代，短信何去何从?</a> </li>
        <li><a href="#">移动互联网时代，短信何去何从?</a> </li>
        <a class="pull-right padding-right-10 margin-top-6" href="#">&gt&gt更多</a>
    </ul>


</div>
