<div class="form-group">
  <strong>选择学科：</strong>
  <select name="phase[subject_id]" class="form-control relation-select" data-path="/curriculum/subjects?limit=100">
    <option>Loading...</option>
  </select>
</div>
<div class="form-group">
  <%= f.text_field :name, placeholder: '请输入学段名称', class: %w(form-control) %>
</div>
<div class="center">
  <%= f.submit value: '确定', class: %w(btn btn-blue) %>
</div>