@import "compass/css3";

.btn{
  display:inline-block;
  padding:0 15px;
  border-radius:3px;
  cursor:pointer;
  line-height:31px;
  text-align:center;
  text-decoration:none;
  border:1px solid #77acfe;
  color:#333;
  background-color:#fff;
  @include background-image(linear-gradient(#fefefe, #f9f9f9));
  @include user-select(none);
  &:hover{
    color:#000;
    border-color:#377bed;
    background-color:#fbfbfb;
    @include background-image(linear-gradient(#f8f8f8, #ebebeb));
  }
  &.btn-blue{
    border-color:#3079ed;
    color:#fff;
    background-color:#4d90fe;
    @include background-image(linear-gradient(#4d90fe, #4787ed));
    &:hover{
      color:#fff;
      border-color:#216fed;
      background-color:#4081fe;
      @include background-image(linear-gradient(#479eff, #2974ed));
    }
  }
  &.btn-gray{
    border-color:#c4c4c4;
    color:#333;
    background-color:#f2f2f2;
    @include background-image(linear-gradient(#f5f5f5, #e8e8e8));
    &:hover{
      border-color:#a0a0a0;
      color:#000;
      background-color:#e8e8e8;
      @include background-image(linear-gradient(#f7f7f7, #d2d2d2));
    }
  }
  &.btn-xs{
    line-height:19px;
  }
  &.btn-sm{
    line-height:27px;
  }
  &.btn-lg{
    line-height:45px;
  }
}

.btn-mini{
  display:inline-block;
  width:15px;
  height:15px;
  line-height:15px !important;
  text-align:center;
  @include border-radius(50%);
  background:#dcdcdc;
  color:#fff;
  cursor:pointer;
  &:hover{
    color:#fff;
    background:#ff0000;
  }
}