@import "compass/css3";

.nav{
  > li{
    float:left;
    display:list-item;
    text-align:-webkit-match-parent;
  }
}

.ng-invalid{
  border-color:#b40000;
}

.remark{
  color:#ccc;
  cursor:default;
}

.hr{
  clear:both;
  border-bottom:1px solid #ccc;
  height:0;
  overflow:hidden;
  margin:12px 0;
}

.aligm-middle{
  vertical-align:middle;
}

ul.selection{
  color:#333;
  & > li{
    position:relative;
    padding:0 22px;
    border-bottom:1px solid #e0e0e0;
    line-height:30px;
    cursor:pointer;
    &.active{
      color:#0077ff;
      &:before{
        position:absolute;
        left:2px;
        top:5px;
        display:block;
        width:20px;
        height:20px;
        line-height:20px;
        text-align:center;
        font-family:'PblIconFont';
        speak:none;
        font-size:14px;
        content:'\e633';
      }
    }
  }
  &:hover{
    & > li{
      &.active{
        //color:#509bfa;
        background:none;
      }
      &:hover{
        color:#fff;
        background:#509bfa;
      }
    }
  }
}

.toolbar{
  $size:60px;
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  width:$size;
  z-index:1000;
  .toolbar-icons{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:$size 0;
    background:#ebebeb;
    .toolbar-icon{
      display:block;
      width:$size;
      height:$size;
      line-height:$size;
      text-align:center;
      font-size:30px;
      color:#b4bed2;
      cursor:pointer;
      transition:.3s ease all;
      transform:translate3d(0, 0, 0);
      &:hover{
        color:#4b8ef0;
        background:#dbdbdb;
      }
      &.active{
        color:#0064f0;
        background:#fff;
      }
    }
  }
  .toolbar-panel{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:300px;
    background:#fff;
    box-shadow:0 0 16px 0 #999;
    opacity:0;
    transition:.5s ease all;
    transform:translate3d(0, 0, 0);
    z-index:-1;
    &.show{
      left:-300px;
      opacity:1;
    }
  }
}

.disable-scroll{
  overflow:hidden;
}

.draggable-handler{
  cursor:move !important;
}

.disabled{
  position:relative;
  cursor:no-drop !important;
  background:#f0f0f0 !important;
  color:#c8c8c8 !important;
  border-color:#c8c8c8 !important;
  .mask{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
}

.loading{
  text-align:center;
  padding:6px 0;
  color:#999;
}

.hide{
  display:none !important;
}

@each $type in default, move, text, pointer{
  .cur-#{$type}{
    cursor:$type !important;
  }
}

.block{
  border:1px solid #e0e0e0;
  padding:12px;
  margin-bottom:8px;
  background:#fafafa;
  @include border-radius(3px);
  &.block-blue{
    border-color:#d0e0ed;
    background:#f0faff;
  }
  &.block-red{
    border-color:#ead9de;
    background:#faf0f0;
  }
  &.block-yellow{
    border-color:#e8e6cb;
    background:#fffff0;
  }
}