@each $type in border, outline, padding, margin{
  .no-#{$type}{
    #{$type}:none !important;
  }
}

.nav{
  > li{
    float:left;
    display:list-item;
    text-align:-webkit-match-parent;
  }
}

.ng-invalid{
  border-color:#b40000;
}

.hr{
  clear:both;
  border-bottom:1px solid #ccc;
  height:0;
  overflow:hidden;
  margin:12px 0;
}