.nav{
  > li{
    float:left;
    display:list-item;
    text-align:-webkit-match-parent;
  }
}

.ng-invalid{
  border-color:#b40000;
}

.remark{
  color:#ccc;
  cursor:default;
}

.hr{
  clear:both;
  border-bottom:1px solid #ccc;
  height:0;
  overflow:hidden;
  margin:12px 0;
}
.aligm-middle{
  vertical-align: middle;
}
.toolbar{
  $size:60px;
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  width:$size;
  z-index:1000;
  .toolbar-icons{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:$size 0;
    background:#ebebeb;
    .toolbar-icon{
      display:block;
      width:$size;
      height:$size;
      line-height:$size;
      text-align:center;
      font-size:30px;
      color:#b4bed2;
      cursor:pointer;
      transition:.3s ease all;
      transform:translate3d(0, 0, 0);
      &:hover{
        color:#4b8ef0;
        background:#dbdbdb;
      }
      &.active{
        color:#0064f0;
        background:#fff;
      }
    }
  }
  .toolbar-panel{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:300px;
    background:#fff;
    box-shadow:0 0 16px 0 #999;
    opacity:0;
    transition:.5s ease all;
    transform:translate3d(0, 0, 0);
    z-index:-1;
    &.show{
      left:-300px;
      opacity:1;
    }
  }
}

.disable-scroll{
  overflow:hidden;
}

.draggable-handler{
  cursor:move !important;
}