@each $type in border, outline, padding, margin{
  .no-#{$type}{
    #{$type}:none !important;
  }
}

.nav{
  > li{
    float:left;
    display:list-item;
    text-align:-webkit-match-parent;
  }
}

.ng-invalid{
  border-color:#b40000;
}