@import "compass/css3";

.nav{
  > li{
    float:left;
    display:list-item;
    text-align:-webkit-match-parent;
  }
}

.ng-invalid{
  border-color:#b40000;
}

.remark{
  color:#ccc;
  cursor:default;
}

.hr{
  clear:both;
  border-bottom:1px solid #ccc;
  height:0;
  overflow:hidden;
  margin:12px 0;
}

.aligm-middle{
  vertical-align:middle;
}

ul.selection{
  color:#333;
  & > li{
    position:relative;
    padding:0 22px;
    border-bottom:1px solid #e0e0e0;
    line-height:30px;
    cursor:pointer;
    text-align:left !important;
    &:before{
      display:inline-block;
      content:'';
    }
    &.active{
      color:#0077ff;
      &:before{
        position:absolute;
        left:2px;
        top:5px;
        display:block;
        width:20px;
        height:20px;
        line-height:20px;
        text-align:center;
        font-family:'PblIconFont';
        speak:none;
        font-size:14px;
        content:'\e633';
      }
    }
  }
  &:hover{
    & > li{
      &.active{
        //color:#509bfa;
        background:none;
      }
      &:hover{
        color:#fff;
        background:#509bfa;
      }
    }
  }
}

.toolbar{
  $size:60px;
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  width:$size;
  z-index:1000;
  .toolbar-icons{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:$size 0;
    background:#ebebeb;
    .toolbar-icon{
      display:block;
      width:$size;
      height:$size;
      line-height:$size;
      text-align:center;
      font-size:30px;
      color:#b4bed2;
      cursor:pointer;
      transition:.3s ease all;
      transform:translate3d(0, 0, 0);
      &:hover{
        color:#4b8ef0;
        background:#dbdbdb;
      }
      &.active{
        color:#0064f0;
        background:#fff;
      }
    }
  }
  .toolbar-panel{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:300px;
    background:#fff;
    box-shadow:0 0 16px 0 #999;
    opacity:0;
    transition:.5s ease all;
    transform:translate3d(0, 0, 0);
    z-index:-1;
    &.show{
      left:-300px;
      opacity:1;
    }
  }
}

.shadow{
  @include box-shadow(0 0 8px 0 #999);
}

.scrollbar{
  position:relative;
  overflow:auto;
}

.disable-scroll{
  overflow:hidden;
}

.draggable-handler{
  cursor:move !important;
}

.disabled{
  pointer-events:none !important;
  position:relative;
  background:#f0f0f0 !important;
  color:#c8c8c8 !important;
  border-color:#c8c8c8 !important;
}

.loading{
  text-align:center;
  padding:6px 0;
  color:#999;
}

.tag{
  $height: 22px;
  display:inline-block;
  padding:0 8px;
  color:#666;
  background:#f0f0f0;
  font-size:12px;
  line-height:$height;
  height:$height;
  margin-right:4px;
  vertical-align:middle;
  cursor:default;
  @include border-radius(15px);
  &:before{
    display:inline-block;
    font-family:'PblIconFont';
    content:'\e60f';
    color:#61a0f0;
    margin-right:2px;
    line-height:$height;
    vertical-align:middle;
  }
}

.hide{
  display:none !important;
}

@each $type in default, move, text, pointer{
  .cur-#{$type}{
    cursor:$type !important;
  }
}

.block{
  border:1px solid #e0e0e0;
  padding:12px;
  margin-bottom:8px;
  background:#fafafa;
  @include border-radius(3px);
  &.block-blue{
    border-color:#d0e0ed;
    background:#f0faff;
  }
  &.block-red{
    border-color:#ead9de;
    background:#faf0f0;
  }
  &.block-yellow{
    border-color:#e8e6cb;
    background:#fffff0;
  }
}

ul.files{
  $height:40px;
  &:after{
    clear:both;
    content:'';
  }
  & > li{
    position:relative;
    width:33.3%;
    float:left;
    line-height:$height;
    margin-top:6px;
    padding:0 10px 0 36px;
    color:#333;
    cursor:default;
    @include border-radius(4px);
    span{
      display:block;
      width:100%;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
    i[class^="pf-file-"]{
      position:absolute;
      top:0;
      left:10px;
      color:#96b9fa;
      font-size:24px;
      margin-right:6px;
      line-height:$height;
    }
    .file-download, .file-remove{
      display:none;
      position:absolute;
      top:12px;
      right:8px;
      width:14px;
      height:14px;
      line-height:14px;
      font-size:16px;
      text-align:center;
      color:#d20000;
      cursor:pointer;
      @include transition(.2s ease all);
      @include transform(translate3d(0, 0, 0));
      @include transform(scale(.75, .75));
      &.file-download{
        right:26px;
        color:#0064f0;
      }
      &:hover{
        @include transform(scale(1, 1));
      }
    }
    &:hover{
      color:#000;
      background-color:#f0faff;
      padding:0 45px 0 36px;
      i[class^="pf-file-"]{
        color:#0064f0;
      }
      .file-download, .file-remove{
        display:block;
      }
    }
    &.disabled{
      padding:0 10px 0 36px;
      i[class^="pf-file-"]{
        color:#999;
      }
      .file-download, .file-remove{
        display:none;
      }
    }
  }
}

.et-drag{
  cursor:move !important;
}