@import "compass/css3";

input,button,textarea{
  outline: none;
}
.form-horizontal{
  .form-group{
    margin-bottom:10px;
    &:after{
      clear:both;
    }
  }
}

.control-label{
  display:inline-block;
  font-weight:bold;
  line-height:33px;
  vertical-align:middle;
}

.form-control{
  display:block;
  width:100%;
  line-height:19px;
  vertical-align:middle;
  color:#555;
  border:1px solid #ccc;
  padding:6px 8px;
  background-color:#fff;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
  &:focus,&.focusin{
    border-color:#66afe9;
    outline:0;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6));
  }
  &.form-control-st{
    display:inline-block;
    width:auto;
  }
}