*, *:after, *:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body{
  padding:0;
  margin:0;
  font:13px/22px '微软雅黑', '宋体', Arial;
}

[class*='col-']{
  float:left;
  padding-right:20px;
}

@each $o in left, right{
  .pull-#{$o}{
    float:#{$o};
  }
}

@for $i from 1 through 12{
  @for $j from 1 through $i{
    .col-#{$j}-#{$i}{
      width:#{($j/$i)*100 + '%'};
    }
    @if $j != $i{
      .offset-#{$j}-#{$i}{
        margin-left:#{($j/$i)*100 + '%'};
      }
    }
  }
}

@media handheld, only screen and (max-width:767px) {

}