*, *:after, *:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html, body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  font:13px/22px '微软雅黑', '宋体', Arial;
}

.container{
  width:1200px;
  &:after{
    clear: both;
  }
  &:after, &:before{
    display: table;
    line-height: 0;
    content: "";
  }
}

.layout-table{
  display:table !important;
  table-layout:fixed;
  .layout-table-cell{
    display:table-cell !important;
    vertical-align:middle;
    width:100%;
  }
}

[class*='col-']{
  float:left;
  padding-right:20px;
}

@each $o in left, right{
  .pull-#{$o}{
    float:#{$o};
  }
}

@for $i from 1 through 12{
  @for $j from 1 through $i{
    .col-#{$j}-#{$i}{
      width:#{($j/$i)*100 + '%'};
    }
    @if $j != $i{
      .offset-#{$j}-#{$i}{
        margin-left:#{($j/$i)*100 + '%'};
      }
    }
  }
}

@media handheld, only screen and (max-width:1280px) {
  .container{
    width:1000px;
  }
}

@media handheld, only screen and (max-width:1024px) {
  .container{
    width:800px;
  }
}

@media handheld, only screen and (max-width:800px) {
  .container{
    width:620px;
  }
}

@media handheld, only screen and (max-width:640px) {
  .container{
    width:550px;
  }
}