@import "compass/css3";

*, *:after, *:before{
  @include box-sizing(border-box);
}

dl, dt, dd{
  margin:0;
  padding:0;
}

textarea{
  resize:none;
}

.container,
.form-group,
.et-modal-content{
  &:after, &:before{
    display:table;
    line-height:0;
    content:'';
  }
  &:after{
    clear:both;
  }
}

a{
  color:#1996dc;
  text-decoration:none;
  &:hover{
    color:#065ded;
    text-decoration:underline;
  }
}

img{
  border:none;
}

ul{
  list-style:none;
  margin:0;
  padding:0;
}