.grid{
  width:100%;
  max-width:1140px;
  min-width:755px;
  margin:0 auto;
  overflow:hidden;
}

.grid:after{
  content:"";
  display:table;
  clear:both;
}

.grid-pad{
  padding-top:20px;
  padding-left:20px;
  padding-right:0;
}

@mixin table-style{
  border-width:0 0 1px 1px;
  border-color:#e0e0e0;
  border-style:solid;
}

@mixin table-row{
  padding:0 12px;
  line-height:32px;
  @include table-style;
}

@mixin table-th{
  font-weight:bold;
  font-size:14px;
  background:#f5f5f5;
  cursor:default;
}

dl.table{
  dt, dd{
    @include table-row;
  }
  dt:first-of-type, dd:first-of-type{
    border-left:none;
  }
  dt{
    @include table-th;
  }
  dd{
    border-bottom-width:0;
  }
}

table.table{
  color:#454545;
  border-collapse:collapse;
  border-spacing:0;
  @include table-style;
  border-width:1px 1px 0 0;
  & > thead > tr > th, & > tbody > tr > td{
    @include table-row;
  }
  & > thead > tr > th{
    color:#000;
    @include table-th;
  }
  &.table-striped{
    & > tbody > tr:nth-child(even) > td{
      background-color:#fafafa;
    }
  }
}