.grid{
  width:100%;
  max-width:1140px;
  min-width:755px;
  margin:0 auto;
  overflow:hidden;
}

.grid:after{
  content:"";
  display:table;
  clear:both;
}

.grid-pad{
  padding-top:20px;
  padding-left:20px;
  padding-right:0;
}

dl.table{
  dt, dd{
    padding:0 12px;
    line-height:32px;
    border-left:1px solid #e0e0e0;
  }
  dt:first-of-type, dd:first-of-type{
    border-left:none;
  }
  dt{
    font-weight:bold;
    font-size:14px;
    background:#fafafa;
    border-bottom:1px solid #e0e0e0;
  }
}