<div class="todo map-tab" ng-controller="mapTodoController">
    <div class="no-data" ng-if="todoread&&!todos.length">
        <div><i class="pf-edit"></i></div>
        <div><span class="btn btn-blue">新建事项</span></div>
        <div class="slogen">高效管理您的工作学习，快速创建待办事项吧！</div>
    </div>
    <div class="todo-data" ng-if="todos.length">
        <div class="todo-ctrl">
            <span><i class="pf-doc-eye"></i>完成事项</span>
            <span><i class="pf-plus"></i>新建事项</span>
        </div>
        <div class="todo-list" et-scrollbar>
            <div class="todo-item" ng-repeat="todo in todos">
                <span class="todo-select"><i></i></span>
                <span class="todo-title" ng-bind="todo.content"></span>
                <span class="todo-endat" ng-bind="todo.start_at | date:'yyyy.MM.dd' +'到期'"></span>
                <span class="todo-edit">
                    <i class="pf-edit"></i>
                    <i class="pf-trash-o"></i>
                </span>
            </div>
        </div>
    </div>
</div>