<div ng-if="!vm.projects" class="loading"><i class="pf-spinner-2 rotation"></i></div>
<div class="row" ng-if="vm.projects">
    <div class="text-center project-list list-first" ng-if="!vm.projects.length">
        <div>还没有自己的PBL项目？立即创建</div>
        <div><span ui-sref="base.home.projects.edit.design" ng-bind="'  创建属于自己的PBL'" class=" pf-expand btn btn-lg btn-blue"></span></div>
    </div>
    <div class="project-list" ng-if="vm.projects.length">
        <div class="text-right">
            <span class="project-pointer draft"></span><span>设计中的PBL项目</span>
            <span class="project-pointer release"></span><span>执行中的PBL项目</span>
            <span class="project-pointer completed"></span><span>已完结的PBL项目</span>
        </div>
        <div class="text-right">
            <span ui-sref="base.home.projects.edit.design" ng-bind="'  创建PBL'" class="list-btn btn pf-expand btn-sm"></span>
        </div>
        <div>
            <ul>
                <li ng-repeat="project in vm.projects">
                    <span class="project-pointer" ng-class="project.state||'draft'"></span>
                    <a ui-sref="base.home.projects.show.info({projectId:project.id})" ui-sref-active="active" ng-bind="project.name || '未命名项目'"></a> /
                    <a ui-sref="base.home.projects.edit.design({projectId:project.id})">编辑</a>
                </li>
            </ul>
        </div>
    </div>
</div>