<div class="col-1-1 no-padding margin-top-10 menu-right" ng-controller="toolbarUserController as vm">
  <h2 class="margin-left-20">可能认识的人</h2>
    <div class="hr margin-bottom-2"></div>
    <ul class="know-people" style="height: 860px; overflow: auto;">
        <li ng-repeat="user in vm.toolbarUser">
            <img class="img-radius aligm-middle pull-left" ng-src="{{user.photo}}"/>
            <div class="pull-left margin-left-6 aligm-middle">
                <b ng-bind="user.author"></b><br/>
                <span ng-bind="user.title|trim:24"></span>
            </div>
            <span class="btn-white pull-right margin-right-6 margin-top-10 aligm-middle"><b class="margin-right-2">+</b>添加</span>
        </li>
    </ul>
    <p><a class="margin-left-10" href="#">查看更多</a> <i class="pf-arrow-down pull-right margin-right-10" style="cursor: pointer;"></i></p>
</div>