<div class="col-1-1 no-padding margin-top-10 menu-right">
  <h2 class="margin-left-20">可能认识的人</h2>
    <div class="hr margin-bottom-6"></div>
    <ul class="know-people" style="height: 860px; overflow: auto;">
        <li><img class="img-radius aligm-middle pull-left" src="http://img.edutec.com//FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/50/h/50/q/90/format/JPG"/>
            <div class="pull-left margin-left-6 aligm-middle">
                <b >erwin blom</b><br/>
                有共同的朋友iymam Cmd
            </div>
            <span class="btn-white pull-right margin-right-6 margin-top-10 aligm-middle"><b class="margin-right-2">+</b>添加</span>
         <div class="clear"></div>
        </li>
        <li><img class="img-radius aligm-middle pull-left" src="http://img.edutec.com//FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/50/h/50/q/90/format/JPG"/>
            <div class="pull-left margin-left-6 aligm-middle">
                <b >erwin blom</b><br/>
                有共同的朋友iymam Cmd
            </div>
            <span class="btn-white pull-right margin-right-6 margin-top-10 aligm-middle"><b class="margin-right-2">+</b>添加</span>
            <div class="clear"></div>
        </li>
        <li><img class="img-radius aligm-middle pull-left" src="http://img.edutec.com//FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/50/h/50/q/90/format/JPG"/>
            <div class="pull-left margin-left-6 aligm-middle">
                <b >erwin blom</b><br/>
                有共同的朋友iymam Cmd
            </div>
            <span class="btn-white pull-right margin-right-6 margin-top-10 aligm-middle"><b class="margin-right-2">+</b>添加</span>
            <div class="clear"></div>
        </li>
    </ul>
    <p><a class="margin-left-10" href="#">查看更多</a> <i class="pf-arrow-down pull-right margin-right-10" style="cursor: pointer;"></i></p>
</div>