<h3>
  编辑技能
  <%= link_to '返回列表', admin_techniques_path %>
</h3>
<div class="hr"></div>
<%= form_for @technique, :as => :technique, :url => admin_technique_path(@technique[:id]), method: :PUT, html: {class: 'form-horizontal'} do |f| %>
    <%= render 'admin/techniques/form', :f => f %>
<% end %>