<div class="icons2 text-center">
    <div class="col-1-1">
        <i class="icon-weixin" ng-repeat="icon in [12, 13, 15, 19, 27, 43, 75, 139]" ng-style="{'font-size':icon+'px'}"></i>
    </div>
    <div class="col-1-1">
        <i class="icon-weibo" ng-repeat="icon in [12, 13, 15, 19, 27, 43, 75, 139]" ng-style="{'font-size':icon+'px'}"></i>
    </div>
    <div class="col-1-1">
        <i class="icon-renren" ng-repeat="icon in [12, 13, 15, 19, 27, 43, 75, 139]" ng-style="{'font-size':icon+'px'}"></i>
    </div>
    <div class="col-1-1">
        <i class="icon-qzone" ng-repeat="icon in [12, 13, 15, 19, 27, 43, 75, 139]" ng-style="{'font-size':icon+'px'}"></i>
    </div>
    <div class="col-1-1">
        <i class="icon-qq" ng-repeat="icon in [12, 13, 15, 19, 27, 43, 75, 139]" ng-style="{'font-size':icon+'px'}"></i>
    </div>
    <div class="col-1-1">
        <i class="icon-friend" ng-repeat="icon in [12, 13, 15, 19, 27, 43, 75, 139]" ng-style="{'font-size':icon+'px'}"></i>
    </div>
    <div class="col-1-1">
        <i class="icon-blog" ng-repeat="icon in [12, 13, 15, 19, 27, 43, 75, 139]" ng-style="{'font-size':icon+'px'}"></i>
    </div>
</div>
