<div class="home-controller">
  <div id="header" ng-include="'layout/header.html'"></div>
  <div id="main" class="container" ui-view></div>
  <div id="footer" ng-include="'layout/footer.html'"></div>
</div>