<div class="et-modal" et-observer="modalConfig.modalResize()">
    <div class="et-modal-overlay" ng-if="modalConfig.overlay"></div>
    <div class="et-modal-container" ng-style="{width:modalConfig.width,height:modalConfig.height}" et-draggable>
        <div class="et-modal-title draggable-handler"><strong ng-bind="modalConfig.title"></strong><span class="et-modal-destroy pull-right" ng-click="destroyModal()" role="link"><i class="pf-cross"></i></span></div>
        <div class="et-modal-content" ng-if="modalConfig.html" ng-bind-html="modalConfig.html" ng-style="{padding:modalConfig.padding===undefined?18:modalConfig.padding}"></div>
        <div class="et-modal-content" ng-if="modalConfig.src" ng-include="modalConfig.src" ng-style="{padding:modalConfig.padding===undefined?18:modalConfig.padding}"></div>
    </div>
</div>