<div class="ng-modal layout-table">
    <div class="ng-modal-overlay" ng-if="$config.overlay"></div>
    <div class="layout-table-cell">
        <div class="ng-modal-container" ng-style="{width:$config.width,height:$config.height}">
            <div class="ng-modal-title"><strong ng-bind="$config.title"></strong><span class="ng-modal-destroy pull-right" ng-click="destroyModal()" role="link"><i class="pf-cross"></i></span></div>
            <div class="ng-modal-content" ng-if="$config.html" ng-bind-html="$config.html"></div>
            <div class="ng-modal-content" ng-if="$config.src" ng-include="$config.src"></div>
        </div>
    </div>
</div>