<div class="ng-modal layout-table">
    <div class="ng-modal-overlay"></div>
    <div class="layout-table-cell">
        <div class="ng-modal-container" ng-style="{width:config.width,height:config.height}">
            <div class="ng-modal-title"><strong ng-bind="config.title"></strong><i class="ng-modal-destroy pf-cross pull-right" ng-click="destroyModal()"></i></div>
            <div class="ng-modal-content" ng-if="config.html" ng-bind-html="config.html"></div>
            <div class="ng-modal-content" ng-if="config.src" ng-include="config.src"></div>
        </div>
    </div>
</div>