<div class="col-1-1 tasks-group-item-form" ng-show="vm.project.state=='draft'">
    <label class="control-label">任务名称：</label>
    <div class="col-1-1">
        <input type="text"  ng-model="task.title" class="form-control" et-sync="{taskId:task.id,task:{title:task.title},$service:'Tasks',$disabled:disabled}"/>
    </div>
</div>
<div class="col-1-1 tasks-group-item-form">
    <label class="control-label">任务描述：</label>
    <div class="col-1-1">
        <textarea  cols="30" rows="5" ng-model="task.description" class="form-control" et-sync="{taskId:task.id,task:{description:task.description},$service:'Tasks',$disabled:disabled}"></textarea>
    </div>
</div>
<div class="col-1-1 tasks-group-item-form">
    <label class="control-label">场地：</label>
    <div class="col-1-1">
        <input type="text"  ng-model="task.site" class="form-control" et-sync="{taskId:task.id,task:{site:task.site},$service:'Tasks',$disabled:disabled}"/>
    </div>
</div>
<div class="col-1-1 tasks-group-item-form">
    <label class="control-label">任务类型：</label>
    <div class="col-1-1 margin-bottom-8">
        <span class="btn" ng-class="{'btn-blue':task.task_type==1,'btn-gray':task.task_type!=1}" role="button" ng-click="vm.chooseType(task,1,disabled)">学科考评型</span>
        <span class="btn  margin-left-8 margin-right-8" ng-class="{'btn-blue':task.task_type==2,'btn-gray':task.task_type!=2}" role="button" ng-click="vm.chooseType(task,2,disabled)">技能考评型</span>
    </div>
</div>

<div class="col-1-1 tasks-group-item-form" ng-show="task.task_type==1">
    <div class="col-1-1">
        <label class=" col-2-12 control-label">学科：</label>
        <div class="col-10-12">
            <select ng-model="task.discipline_id" et-select="vm.disciplines" et-config="label='name'"
                    et-sync="{taskId:task.id,task:{discipline_id:task.discipline_id},$service:'Tasks',$disabled:disabled}"></select>
        </div>
    </div>
</div>

<div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  " ng-show="vm.project.state=='release'">
    <div class="col-1-1">
        <label class=" col-2-12 control-label">参与组：</label>
        <div class="col-10-12">
            <select ng-model="task.discipline_id" et-select="vm.disciplines" et-config="label='name'"
                    et-sync="{taskId:task.id,task:{discipline_id:task.discipline_id},$service:'Tasks',$disabled:disabled}"></select>
        </div>
    </div>
</div>
<div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  " ng-show="vm.project.state=='release'">
    <div class="col-1-1">
        <label class=" col-2-12 control-label">作业递交方式：</label>
        <div class="col-10-12">
            <span class="btn" ng-class="{'btn-blue':task.submit_way==1,'btn-gray':task.submit_way!=1}" role="button" ng-click="vm.chooseSubmitWay(task,1,disabled)">每组一份</span>
            <span class="btn  margin-left-8 margin-right-8" ng-class="{'btn-blue':task.submit_way==2,'btn-gray':task.submit_way!=2}" role="button" ng-click="vm.chooseSubmitWay(task,2,disabled)">每人一份</span>
        </div>
    </div>
</div>
<div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  " ng-show="vm.project.state=='release'">
    <div class="col-1-1">
        <label class=" col-2-12 control-label">任务开始时间：</label>
        <div class="col-10-12">start_at

            <input type="text"  ng-model="task.site" class="form-control input-date" et-sync="{taskId:task.id,task:{site:task.site},$service:'Tasks',$disabled:disabled}"/>
            <input type="text"  ng-model="task.site" class="form-control input-time" et-sync="{taskId:task.id,task:{site:task.site},$service:'Tasks',$disabled:disabled}"/>
        </div>
    </div>
</div>

<div class="col-1-1 margin-bottom-8 tasks-group-item-form">
    <label class=" col-2-12 control-label">任务时长：</label>
    <div class="col-10-12">
        <input style="width: 100px; display: inline-block"  type="number"  ng-model="task.evaluation_duration" class="form-control input-duration" et-sync="{taskId:task.id,task:{evaluation_duration:task.evaluation_duration},$service:'Tasks',$disabled:disabled}"/>
        <select ng-model="task.evaluation_cycle" et-select="DURATION_UNITS"
                et-sync="{taskId:task.id,task:{evaluation_cycle:task.evaluation_cycle},$service:'Tasks',$disabled:disabled}"></select>
    </div>
</div>
<div class="col-1-1" ng-show="task.task_type==2">
    <div class="col-1-1 tasks-group-item-form">
        <label class="control-label">对应量规：</label>
        <div class="offset-2-12 col-10-12">
            <span class="btn btn-gray" role="button">选择量规</span>
        </div>
    </div>
</div>

<div class="col-1-1 tasks-group-item-form margin-top-8 margin-bottom-8  ">
    <div class="col-1-1">
        <label class=" col-2-12 control-label">最终成果：</label>
        <div class="col-10-12">
            <label><input name="final" type="radio"
                          data-ng-model="task.final" ng-value="true"
                    et-sync="{taskId:task.id,task:{final:task.final},$service:'Tasks',$disabled:disabled}">是</label>
            <label><input name="final" type="radio"
                          data-ng-model="task.final" ng-value="false"
                          et-sync="{taskId:task.id,task:{final:task.final},$service:'Tasks',$disabled:disabled}">否</label>
        </div>
    </div>
</div>
<div class="form-group" ng-if="task.id">
    <strong class="control-label col-2-12">任务资源：</strong>
        <span class="btn btn-gray btn-sm" ng-class="{uploading:task.$uploading}" role="button"
              qn-upload="{ownerType:RESOURCE_TYPES.project.task,ownerId:task.id}"
              on-begin="vm.onUploadBegin(task)" on-success="vm.onUploadSuccess(task)"><i class="pf-cloud-upload"></i> 上传示例</span>
    <div class="row offset-2-12 col-10-12">
        <ul class="files">
            <li ng-repeat="resource in vm.getResources(task)" ng-class="{disabled:resource.$disabled}">
                <i ng-class="resource.name|icon"></i>
                <span ng-bind="resource.name"></span>
                <i class="file-download pf-inbox" et-tips="'下载'" et-href="resource|uri:PATHS.static"></i>
                <i class="file-remove pf-cross" et-tips="'删除'" ng-click="vm.removeResource(resource)"></i>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>