.dropdown-menu {
  position: absolute;
  display: block;
  margin-bottom: 5px;
  background: #fff;
  z-index: 999;
  border: 1px solid #aaa;
}

.datepicker.dropdown-menu {
  width: 260px;
  height: 280px;
  button {
    outline: none;
    border: 0px;
    padding: 0px;
  }
  tbody {
    height: 180px;
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}
