@import "compass/css3";

.et-modal{
  .et-modal-overlay{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,.1);
    -pie-background:rgba(0,0,0,.1);
    behavior:url('PIE.htc')\0;
    z-index:10000;
  }

  .et-modal-container{
    position:fixed;
    min-width:200px;
    //max-width:90%;
    min-height:80px;
    //max-height:90%;
    background:#fff;
    @include opacity(0);
    @include transition(.2s ease opacity, .2s ease transform);
    @include transform(scale(.3));
    @include box-shadow(0 0 25px 0 #9f9f9f);
    behavior:url('PIE.htc')\0;
    z-index:10000;
    &.et-modal-show{
      @include opacity(1);
      @include transform(scale(1));
    }
    .et-modal-title{
      $height: 44px;
      font-size:16px;
      line-height:$height;
      padding:0 18px;
      color:#666;
      background:#f8f8f8;
      cursor:default;
      behavior:url('PIE.htc')\0;
      .et-modal-destroy{
        position:absolute;
        top:0;
        right:0;
        width:$height;
        height:$height;
        overflow:hidden;
        cursor:pointer;
        i{
          display:block;
          width:$height;
          height:$height;
          text-align:center;
          line-height:$height;
          color:#999;
          @include transition(.5s ease all);
          @include transform(rotate(0deg));
        }
        &:hover{
          background:#ffebeb;
          i{
            color:#ff0000;
            @include transform(rotate(360deg));
          }
        }
      }
    }
    .et-modal-content{
      border-top:1px solid #e0e0e0;
    }
  }
}