.ng-modal{
  position:fixed;
  left:50%;
  top:50%;
  min-width:200px;
  max-width:90%;
  min-height:80px;
  max-height:90%;
  background:#fff;
  border:1px solid #c0c0c0;
  border-radius:6px;
  box-shadow:0 0 25px 0 #9f9f9f;
  behavior:url('PIE.htc')\0;
  .ng-modal-title{
    $height: 46px;
    font-size:16px;
    line-height:$height;
    padding:0 18px;
    margin:0;
    border-radius:6px 6px 0 0;
    background:#f8f8f8;
    behavior:url('PIE.htc')\0;
    .ng-modal-destroy{
      line-height:$height;
      cursor:pointer;
    }
  }
  .ng-modal-content{
    padding:18px;
    border-top:1px solid #ccc;
  }
}