@import "compass/css3";

.et-select{
  position:relative;
  display:inline-block;
  border:1px solid #ccc;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
  .et-select-label{
    position:relative;
    line-height:33px;
    padding:0 32px 0 12px;
    overflow:hidden;
    cursor:pointer;
    @include border-radius(3px);
    &:before{
      position:absolute;
      right:0;
      top:0;
      bottom:0;
      width:20px;
      border-left:1px solid #e0e0e0;
      font-family:'PblIconFont';
      line-height:33px;
      text-align:center;
      content:'\f05b';
      @include background-image(linear-gradient(#fefefe, #f9f9f9));
    }
  }
  .et-select-options{
    position:absolute;
    left:0;
    top:35px;
    min-width:100%;
    .selection{
      border:1px solid #d9d9d9;
      margin:0 -1px;
      background:#fff;
      white-space:nowrap;
      @include border-radius(3px);
      @include box-shadow(0 0 15px 0 #c0c0c0);
    }
  }
}