@import "compass/css3";

.et-tags{
  padding:0 5px 5px 5px !important;
  cursor:text;
  .et-tags-item{
    position:relative;
    float:left;
    background:#a0aabe;
    font-size:12px;
    line-height:23px;
    padding:0 21px 0 6px;
    margin:5px 5px 0 0;
    color:#fff;
    cursor:default;
    @include border-radius(2px);
    i{
      position:absolute;
      right:3px;
      top:3px;
      display:block;
      width:17px;
      height:17px;
      text-align:center;
      line-height:17px;
      cursor:pointer;
    }
    &:hover{
      background:#6598d3;
    }
  }
  .et-tag-input{
    border:none;
    height:23px;
    line-height:23px;
    padding:0 5px;
    margin-top:5px;
    background:transparent;
    &:focus{
      outline:0;
    }
  }
}