@import "compass/css3";

.ui-select-container{
  padding:2px 5px 5px 5px !important;
  cursor:text;
  .ui-select-match{
    display:block;
    float:left;
    .ui-select-match-item{
      border:none;
      line-height:23px;
      font-size:12px;
      background:#a0aabe;
      color:#fff;
      margin:3px 3px 0 0;
      padding:0 0 0 8px;
      cursor:default;
      &.btn-primary{
        background:#6598d3;
      }
      .ui-select-match-close{
        float:right;
        font-size:16px;
        line-height:23px;
        padding-right:4px;
        cursor:pointer;
      }
    }
  }
  .ui-select-search{
    height:23px !important;
    line-height:23px;
    padding:0 5px;
    margin-top:3px;
  }
}

.dropdown{
  position:relative;
  .dropdown-menu{
    position:absolute;
    top:100%;
    left:-1px;
    right:-1px;
    width:auto;
    display:none;
    min-width:160px;
    padding:5px;
    margin:2px 0 0;
    background:#fff padding-box;
    border:1px solid #ccc;
    @include border-radius(3px);
    @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
  }
  &.open{
    & > .dropdown-menu{
      display:block;
    }
  }
}