<div class="gauges-list scrollbar" ng-controller="GaugeRecommendsController as vm" et-scrollbar>
    <div class="row" ng-repeat="technique in vm.techniques">
        <table class="table">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>对应技能</th>
                <th>量规标准</th>
                <th width="60">权重</th>
                <th ng-repeat="column in [0,1,2,3,4] track by $index" ng-bind="$index|gauge:project.rule_template"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="gauge in technique.gauges" class="gauge-item">
                <td class="padding-6"><input type="checkbox" ng-model="gauge.selected" ng-change="onChange(gauge)" ng-init="gauge.selected=isSelected(gauge)"/></td>
                <td ng-bind="gauge.technique.title"></td>
                <td ng-bind="gauge.standard"></td>
                <td class="center" ng-bind="gauge.weight"></td>
                <td ng-repeat="level in [1,2,3,4,5]" ng-bind="gauge['level_'+level]"></td>
            </tr>
            <tr ng-if="!technique.gauges">
                <td colspan="9" class="loading"><i class="pf-spinner-2 rotation"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>