<div class="member-selector">
    <div class="col-3-12 layout-left scrollbar" et-scrollbar>
        <ul>
            <li><strong>我的好友</strong></li>
            <li>
                <strong>我的群组</strong>
                <ul>
                    <li ng-repeat="group in vm.groups.data" ng-bind="group.name"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-4-12 layout-center">
        <div class="member-fixed member-search" ng-class="{focusin:vm.focusin}">
            <input type="text" class="form-control" placeholder="查找用户" ng-focus="vm.focusin=true" ng-blur="vm.focusin=false" ng-model="vm.keyword" ng-change="vm.onSearch()"/>
        </div>
        <div class="member-users scrollbar" et-scrollbar>
            <ul>
                <li ng-repeat="user in vm.users" ng-class="{selected:user.$selected}" ng-click="user.$selected=!user.$selected"><img ng-src="{{user.avatar|thumb:'24x24'}}"/> <span ng-bind="user.name"></span></li>
            </ul>
        </div>
    </div>
    <div class="col-1-12">
        333
    </div>
    <div class="col-4-12 layout-right scrollbar" et-scrollbar>
        <div class="member-fixed center"><strong>已选择成员：</strong><span ng-bind="vm.members.length"></span>人</div>
        <div class="member-users scrollbar" et-scrollbar>
            <ul>
                <li ng-repeat="user in vm.members" ng-class="{selected:user.$selected}"><img ng-src="{{user.avatar|thumb:'24x24'}}"/> <span ng-bind="user.name"></span></li>
            </ul>
        </div>
    </div>
</div>