<div class="form-horizontal stage-product">
    <div class="form-group">
        <label for="{{'project[stage_products]['+$index+']'}}" class="control-label">阶段性产品标题：</label>
        <div class="row">
            <input id="{{'project[stage_products]['+$index+']'}}" name="{{'project[stage_products]['+$index+']'}}" type="text" ng-model="vm.product.title" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <span class="btn btn-sm" role="button"
              et-modal="$project=vm.project;$product=vm.product;title='选择产品形态';padding=0;controller='ProductFormsController as vm';src='home/projects/create/product_forms.html'">选择产品形态</span>
        <span class="btn btn-gray btn-sm" role="button"
              et-modal="title='产品形态';controller='WorksformController';width='70%';src='home/projects/pane/modalworksform.html'">上传示例</span>
    </div>
    <div class="col-1-1">
        <div class="col-1-2 margin-top-8" ng-if="vm.product.product_form_id">
            <div class="control-label">产品形态：</div>
            <span ng-bind="vm.product.product_form_id"></span>
        </div>
        <div class="col-1-2 margin-top-8" ng-if="product.resource">
            <div class="control-label">产品示例：</div>
            <span ng-bind="vm.product.resource.name"></span>
        </div>
    </div>
    <div class="hr"></div>
    <span class="btn btn-blue pull-right" ng-click="vm.add()">确定</span>
</div>