<div class="selector">
    <dl class="table">
        <dt class="col-1-5">技能种类</dt>
        <dt class="col-1-5">分类</dt>
        <dt class="col-3-5">技能</dt>
        <dd class="col-1-5">
            <ul class="categories">
                <li ng-repeat="entry in vm.subjects.data" ng-class="{active:entry.id==vm.subject.id}" ng-bind="entry.title" ng-click="vm.setSubject(entry)"></li>
            </ul>
        </dd>
        <dd class="col-1-5">
            <i class="remark" ng-if="!vm.categories.data.length">请选择技能种类</i>
            <ul class="categories">
                <li ng-repeat="entry in vm.categories.data" ng-class="{active:entry.id==vm.categorie.id}" ng-bind="entry.title" ng-click="vm.setCategorie(entry)"></li>
            </ul>
        </dd>
        <dd class="col-3-5">
            <div class="selector-entries scrollbar-macosx" et-scrollbar>
                <i class="remark" ng-if="!vm.skills.data.length">请选择分类</i>
                <div ng-repeat="entry in vm.skills.data">
                    <label class="row selector-entry"><input type="checkbox" ng-model="entry.selected" ng-change="vm.parentChange(entry)" ng-checked="vm.isSelected(entry)"/> <span ng-bind="entry.title"></span></label>
                    <div class="selector-entry-children">
                        <label ng-repeat="child in entry.children" class="row"><input type="checkbox" ng-model="child.selected" ng-change="vm.childChange(child,entry)"/> <span ng-bind="child.title"></span></label>
                    </div>
                </div>
            </div>
            <div class="selector-footer">
                <button class="btn btn-blue" ng-click="vm.setSkills()" role="button">导入选中课标</button>
                <button class="btn btn-gray" ng-click="destroyModal()" role="button">取消</button>
            </div>
        </dd>
    </dl>
</div>