<!--<div><strong ng-bind="'Pane'|i18n:1"></strong> Pane content</div>-->
<!--<div ng-bind="demo"></div>-->
<!--<div>{{$config}}</div>-->
<style type="text/css">
    .scrollbar{
        max-height:300px;
        margin-bottom: 10px;
        overflow:auto;
    }
</style>

<div class="col-1-1">
    <div class="col-1-4" ng-controller="ScrollbarDemoController">
        <div class="scrollbar scrollbar-macosx" ng-scrollbar>
            <ul>
                <li ng-repeat="worksform in worksforms">
                    <a href="javascript:void(0);" ng-click="choose($index)" ng-class="{'active': $index == activeItem}" ng-bind="worksform.title"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-3-4" ng-controller="ScrollbarDemoController">
        <div class="scrollbar scrollbar-macosx" ng-scrollbar ng-bind="explain">

        </div>

    </div>
</div>
<hr/>
<div class="et-modal-title text-right">
    <span class="btn btn-blue" role="button" ng-click="modalEmit()">确定</span>
</div>
