<div class="project-show-member">
    <div class="project-title col-1-1 ">
        <span class="title-text">项目成员</span>
        <span class="title-pointer"></span>
    </div>
    <div class="col-1-1 margin-top-20">
        <div class="left col-3-4">确定小组数量：<input type="number" class="input-int form-control form-control-st"/></div>
        <div class="text-right col-1-4">
            <span class="btn btn-gray" role="button">自动分组</span>
        </div>
    </div>
    <div class="col-1-1 margin-top-20">
        <table class="table col-1-1 margin-bottom-20">
            <tr>
                <td class="thead">成员导入</td>
                <td>
                    <span class="btn btn-gray btn-padding" role="button">导入</span>
                </td>
            </tr>
            <tr>
                <td class="thead">未分组</td>
                <td>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="thead">分组1</td>
                <td>

                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                        <span class="lead-flag pf-user"></span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="thead">分组2</td>
                <td>

                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                        <span class="lead-flag pf-user"></span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="thead">分组3</td>
                <td>

                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                        <span class="lead-flag pf-user"></span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="thead">分组4</td>
                <td>

                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                        <span class="lead-flag pf-user"></span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                    <a class="group-user" >
                        <img ng-src="http://img.edutec.com/FlPt_eC1NjQzDLnkhIIgsu4z_Wg3?imageView/1/w/30/h/30/q/90/format/JPG">
                        <span class="lead-name">刘记红</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-1-1 col-1-1 margin-top-20 margin-bottom-20 text-right">
        <span class="btn btn-blue  btn-padding">发布分组</span>
    </div>
</div>