<div class="project-show-members">
    <div class="project-title col-1-1 ">
        <span class="title-text">项目成员</span>
        <span class="title-pointer"></span>
    </div>
    <div class="col-1-1 margin-top-20">
        <div class="left col-3-4">小组数量：<input type="number" ng-model="vm.count" min="1" class="form-control"/></div>
        <div class="text-right col-1-4">
            <span class="btn btn-gray margin-right-6" ng-click="vm.grouping(vm.count)">自动分组</span>
            <span class="btn btn-gray" role="button">选择成员</span>
        </div>
    </div>
    <div class="col-1-1 margin-top-20 et-dropzone">
        <table class="table margin-bottom-20">
            <tr>
                <td class="head">未分组成员</td>
                <td>
                    <div class="col-1-4 member" ng-repeat="member in vm.members" ng-class="{disabled:member.$disabled}">
                        <img ng-src="{{member.user|avatar}}"/>
                        <span ng-bind="member.user.username"></span>
                        <i class="pf-cross" et-tips="'移除该成员'" ng-click="vm.destroy(member,$event)"></i>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="group in vm.groups">
                <td class="head" ng-bind="group.name+group.no"></td>
                <td>
                    <div class="row et-drop">
                        <div class="col-1-4 member et-drag" ng-repeat="user_id in group.members track by $index" ng-hover>
                            <img ng-src="{{vm.getUser(user_id)|avatar}}"/>
                            <span ng-bind="vm.getUser(user_id).username"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-1-1 col-1-1 margin-top-20 margin-bottom-20 text-right">
        <span class="btn btn-blue  btn-padding">发布分组</span>
    </div>
</div>