<div class="project-show-resources">
    <div class="project-title col-1-1 ">
        <span class="title-text">项目资源</span>
        <span class="title-pointer"></span>
    </div>
    <div class="col-1-1">
        <div class="col-1-1 search-head">
            <div class="col-1-4">
                <span class="search-title">资源池</span>
                <span class="btn btn-gray" role="button">上传资源</span>
            </div>
            <div class="col-3-4 text-right search-form">
                <select class="search-select" et-select="DURATION_UNITS" ></select>
                <select class="search-select" et-select="DURATION_UNITS" ></select>
                <span class="pf-search input-search">
                    <input type="text" class=" " placeholder="输入关键字进行搜索"/>
                </span>
            </div>
        </div>
    </div>
    <div class="col-1-1">
        <div class="resources-list">
            <div class="resources-item active">
                <div class="resources-item-title">小组1</div>
                <div class="resources-item-cont">
                    <div class="resource-item">
                        <div class="resource-item-info">
                            <div class="pf-image resource-item-logo"></div>
                            <div class="resource-item-title">
                                <span>文件名.zip</span><br/>
                                <span>12.1MB</span>
                                <span>7次下载 唐明远 2014-11-12</span>
                            </div>
                            <span class="btn btn-gray resource-item-btn" role="button">
                                <i class="pf-arrowhead-down"></i>下载
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="resource-item">
                        <div class="resource-item-info">
                            <div class="pf-image resource-item-logo"></div>
                            <div class="resource-item-title">
                                <span>文件名.zip</span><br/>
                                <span>12.1MB</span>
                                <span>7次下载 唐明远 2014-11-12</span>
                            </div>
                            <span class="btn btn-gray resource-item-btn" role="button">
                                <i class="pf-arrowhead-down"></i>下载
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="resource-item">
                        <div class="resource-item-info">
                            <div class="pf-image resource-item-logo"></div>
                            <div class="resource-item-title">
                                <span>文件名.zip</span><br/>
                                <span>12.1MB</span>
                                <span>7次下载 唐明远 2014-11-12</span>
                            </div>
                            <span class="btn btn-gray resource-item-btn" role="button">
                                <i class="pf-arrowhead-down"></i>下载
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="resources-item">
                <div class="resources-item-title">小组2</div>
                <div class="resources-item-cont">
                    <div class="resource-item">
                        <div class="resource-item-info">
                            <div class="pf-image resource-item-logo"></div>
                            <div class="resource-item-title">
                                <span>文件名.zip</span><br/>
                                <span>12.1MB</span>
                                <span>7次下载 唐明远 2014-11-12</span>
                            </div>
                            <span class="btn btn-gray resource-item-btn" role="button">
                                <i class="pf-arrowhead-down"></i>下载
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="resource-item">
                        <div class="resource-item-info">
                            <div class="pf-image resource-item-logo"></div>
                            <div class="resource-item-title">
                                <span>文件名.zip</span><br/>
                                <span>12.1MB</span>
                                <span>7次下载 唐明远 2014-11-12</span>
                            </div>
                            <span class="btn btn-gray resource-item-btn" role="button">
                                <i class="pf-arrowhead-down"></i>下载
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="resource-item">
                        <div class="resource-item-info">
                            <div class="pf-image resource-item-logo"></div>
                            <div class="resource-item-title">
                                <span>文件名.zip</span><br/>
                                <span>12.1MB</span>
                                <span>7次下载 唐明远 2014-11-12</span>
                            </div>
                            <span class="btn btn-gray resource-item-btn" role="button">
                                <i class="pf-arrowhead-down"></i>下载
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>