<div class="project-show-scaffold">
    <div class="project-title col-1-1 ">
        <span class="title-text">教学任务</span>
        <span class="title-pointer"></span>
    </div>
    <div class="task-list col-1-1 margin-bottom-20">
        <div class="col-1-1 tasks-group">
            <div class="tasks-group-item col-1-1" ng-repeat="task in vm.project.tasks track by $index">
                <div class="tasks-group-item-title">
                    <span class="pull-left" ng-bind="'任务'+($index+1)+'-'"></span>
                    <span class="pull-left" ng-bind="task.title"></span>
                    <span class="pull-left"></span>
                    <i class="btn-mini pf-trash-o pull-right" ng-click="vm.removeTask(task)"></i>
                    <i class="btn-mini pf-doc-eye pull-right" ng-click="vm.showTask($index)"></i>
                    <i class="time pull-right">2014-12-26 20：20</i>
                </div>
                <div class="tasks-group-item-cont" ng-show="vm.showtask[$index]">
                    <ng-include src="'home/projects/show/taskform.html'"></ng-include>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="col-1-1 col-1-1 margin-top-20 margin-bottom-20 text-right">
        <span class="btn btn-blue  btn-padding">增加任务</span>
    </div>
</div>