<div class="navbar container">
    <a ui-sref="base.index" class="logo" ng-class="getLocale()"></a>
    <span class="nav-main">
        <a ui-sref="base.index"  ng-class="{active:$state.includes('base.index')}">首页</a>
        <a ui-sref="base.pbl.list" ng-class="{active:$state.includes('base.pbl')}" >项目案例</a>
        <a ui-sref="base.home.index" ng-class="{active:$state.includes('base.home')}" >个人中心</a>
    </span>
    <span class="user-tools">
        <a href="javascript:void(0)" ng-click="HANDLES.login()">登录</a> /
        <a href="javascript:void(0)" et-modals="registerModals">注册</a>
    </span>
</div>
<div class="banner">
    <img src="http://placeimg.com/2000/150/tech" alt=""/>
</div>