<div class="index-controller">
    <div id="index" class="container">
        <div class="row case-row">
            <div class="row-title">
                <span>精彩案例</span>
                <hr/>
            </div>
            <div class="case-list">
                <div class="case-item">
                    <div class="item-pic">
                        <img src="/images/img001.jpg" alt=""/>
                    </div>
                    <div class="item-title">
                        社区小菜园环保活动倡议书
                    </div>
                    <div class="item-cont">
                        <div class="item-tag">三年级，数学，科学</div>
                        <a href="javascript:void(0);" class="item-link">了解详情</a>
                    </div>
                </div>
                <div class="case-item">
                    <div class="item-pic">
                        <img src="/images/img002.jpg" alt=""/>
                    </div>
                    <div class="item-title">
                        社区小菜园环保活动倡议书
                    </div>
                    <div class="item-cont">
                        <div class="item-tag">三年级，数学，科学</div>
                        <a href="javascript:void(0);" class="item-link">了解详情</a>
                    </div>
                </div>
                <div class="case-item">
                    <div class="item-pic">
                        <img src="/images/img003.jpg" alt=""/>
                    </div>
                    <div class="item-title">
                        社区小菜园环保活动倡议书
                    </div>
                    <div class="item-cont">
                        <div class="item-tag">三年级，数学，科学</div>
                        <a href="javascript:void(0);" class="item-link">了解详情</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row-title">
                <span>学习专栏</span>
                <hr/>
            </div>
            <div></div>
        </div>
        <div class="row">
            <div class="row-title">
                <span>名师寄语</span>
                <hr/>
            </div>
            <div></div>
        </div>
        <div class="row">
            <div class="row-title">
                <span>友情链接</span>
                <hr/>
            </div>
            <div></div>
        </div>
    </div>
</div>