<div class="index-controller">
    <div id="index" class="container">
        <div class="row case-row">
            <div class="row-title">
                <span>精彩案例</span>
                <hr/>
            </div>
            <div class="case-list">
                <div class="case-item">
                    <div class="item-pic">
                        <img src="/images/img001.jpg" alt=""/>
                    </div>
                    <div class="item-title">
                        社区小菜园环保活动倡议书
                    </div>
                    <div class="item-cont">
                        <div class="item-tag">三年级，数学，科学</div>
                        <a href="#/projectsearch" class="item-link">了解详情</a>
                    </div>
                </div>
                <div class="case-item">
                    <div class="item-pic">
                        <img src="/images/img002.jpg" alt=""/>
                    </div>
                    <div class="item-title">
                        社区小菜园环保活动倡议书
                    </div>
                    <div class="item-cont">
                        <div class="item-tag">三年级，数学，科学</div>
                        <a href="javascript:void(0);" class="item-link">了解详情</a>
                    </div>
                </div>
                <div class="case-item">
                    <div class="item-pic">
                        <img src="/images/img003.jpg" alt=""/>
                    </div>
                    <div class="item-title">
                        社区小菜园环保活动倡议书
                    </div>
                    <div class="item-cont">
                        <div class="item-tag">三年级，数学，科学</div>
                        <a href="javascript:void(0);" class="item-link">了解详情</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row news-row">
            <div class="row-title">
                <span>学习专栏</span>
                <hr/>
            </div>
            <div class="news-list">
                <div class="news-group">
                    <div class="news-item">
                        <div class="item-intro">
                            <div class="item-title">
                                PBL教学法让孩子“学会”变“会学”
                            </div>
                            <div class="item-cont">
                                学生在一个真实的场景中对驱动问题展开探究，解决问题的过程类似学科专家的研究过程...
                            </div>
                            <a href="" class="item-link"><i class="pf-arrowhead-right"></i></a>
                        </div>
                        <div class="item-pic">
                            <img src="http://placeimg.com/300/255/arch" alt=""/>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="item-intro">
                            <div class="item-title">
                                PBL教学法让孩子“学会”变“会学”
                            </div>
                            <div class="item-cont">
                                学生在一个真实的场景中对驱动问题展开探究，解决问题的过程类似学科专家的研究过程...
                            </div>
                            <a href="" class="item-link"><i class="pf-arrowhead-right"></i></a>
                        </div>
                        <div class="item-pic">
                            <img src="http://placeimg.com/300/255/animals" alt=""/>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="news-group">
                    <div class="news-item">
                        <div class="item-intro">
                            <div class="item-title">
                                PBL教学法让孩子“学会”变“会学”
                            </div>
                            <div class="item-cont">
                                学生在一个真实的场景中对驱动问题展开探究，解决问题的过程类似学科专家的研究过程...
                            </div>
                            <a href="" class="item-link"><i class="pf-arrowhead-right"></i></a>
                        </div>
                        <div class="item-pic">
                            <img src="http://placeimg.com/300/255/tech" alt=""/>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="item-intro">
                            <div class="item-title">
                                PBL教学法让孩子“学会”变“会学”
                            </div>
                            <div class="item-cont">
                                学生在一个真实的场景中对驱动问题展开探究，解决问题的过程类似学科专家的研究过程...
                            </div>
                            <a href="" class="item-link"><i class="pf-arrowhead-right"></i></a>
                        </div>
                        <div class="item-pic">
                            <img src="http://placeimg.com/300/255/nature" alt=""/>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="row note-row">
            <div class="row-title">
                <span>名师寄语</span>
                <hr/>
            </div>
            <div class="note-list">
                <div class="note-item">
                    <div class="item-cont">
                        以问题为导向的教学方法PBL是基于现实世界的以学生为中心
                        的教育方式，1969年由美国的神经病学教授Barrows在
                        加拿大的麦可马斯特大学首创
                    </div>
                    <div class="item-teacher">
                        <div class="item-pic">
                            <img src="http://placeimg.com/84/84" alt=""/>
                        </div>
                        <div class="item-info">
                            <div class="item-name">John Lamer</div>
                            <div class="item-info">BIE 教育负责人</div>
                        </div>
                    </div>
                </div>
                <div class="note-item">
                    <div class="item-cont">
                        以问题为导向的教学方法PBL是基于现实世界的以学生为中心
                        的教育方式，1969年由美国的神经病学教授Barrows在
                        加拿大的麦可马斯特大学首创
                    </div>
                    <div class="item-teacher">
                        <div class="item-pic">
                            <img src="http://placeimg.com/84/84" alt=""/>
                        </div>
                        <div class="item-info">
                            <div class="item-name">John Lamer</div>
                            <div class="item-info">BIE 教育负责人</div>
                        </div>
                    </div>
                </div>
                <div class="note-item">
                    <div class="item-cont">
                        以问题为导向的教学方法PBL是基于现实世界的以学生为中心
                        的教育方式，1969年由美国的神经病学教授Barrows在
                        加拿大的麦可马斯特大学首创
                    </div>
                    <div class="item-teacher">
                        <div class="item-pic">
                            <img src="http://placeimg.com/84/84" alt=""/>
                        </div>
                        <div class="item-info">
                            <div class="item-name">John Lamer</div>
                            <div class="item-info">BIE 教育负责人</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row link-row">
            <div class="row-title">
                <span>友情链接</span>
                <hr/>
            </div>
            <div class="link-list">
                <div class="link-item">
                    <div class="item-pic">
                        <img src="http://placeimg.com/124/60" alt=""/>
                    </div>
                    <div class="item-title">链接供应商标题</div>
                </div>
                <div class="link-item">
                    <div class="item-pic">
                        <img src="http://placeimg.com/124/60" alt=""/>
                    </div>
                    <div class="item-title">链接供应商标题</div>
                </div>
                <div class="link-item">
                    <div class="item-pic">
                        <img src="http://placeimg.com/124/60" alt=""/>
                    </div>
                    <div class="item-title">链接供应商标题</div>
                </div>
                <div class="link-item">
                    <div class="item-pic">
                        <img src="http://placeimg.com/124/60" alt=""/>
                    </div>
                    <div class="item-title">链接供应商标题</div>
                </div>
                <div class="link-item">
                    <div class="item-pic">
                        <img src="http://placeimg.com/124/60" alt=""/>
                    </div>
                    <div class="item-title">链接供应商标题</div>
                </div>
                <div class="link-item">
                    <div class="item-pic">
                        <img src="http://placeimg.com/124/60" alt=""/>
                    </div>
                    <div class="item-title">链接供应商标题</div>
                </div>
                <div class="link-item">
                    <div class="item-pic">
                        <img src="http://placeimg.com/124/60" alt=""/>
                    </div>
                    <div class="item-title">链接供应商标题</div>
                </div>
                <div class="link-item">
                    <div class="item-pic">
                        <img src="http://placeimg.com/124/60" alt=""/>
                    </div>
                    <div class="item-title">链接供应商标题</div>
                </div>
                <div class="link-item">
                    <div class="item-pic">
                        <img src="http://placeimg.com/124/60" alt=""/>
                    </div>
                    <div class="item-title">链接供应商标题</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>