<div class="project-controller">
    <div id="index" class="container">
        <div class="row project-options">
            <div class="options-title">
                <span ng-bind="'NAV.pbl'|i18n"></span>
            </div>
            <div class="options-area">
                <div class="options-result">
                    <lable class="options-lab">已选条件：</lable>
                    <span class="options-tag">语文<i class="pf-cross"></i></span>
                    <span class="options-tag">一年级<i class="pf-cross"></i></span>
                    <span class="options-tag">学习技能<i class="pf-cross"></i></span>
                </div>
                <div class="options-tab">
                    <lable class="options-lab">学科：</lable>
                    <span class="options-link active">语文</span>
                    <span class="options-link">数学</span>
                    <span class="options-link">英语</span>
                    <span class="options-link">地理</span>
                    <span class="options-link">历史</span>
                </div>
                <div class="options-tab">
                    <lable class="options-lab">年纪：</lable>
                    <span class="options-link active">一年级</span>
                    <span class="options-link">二年级</span>
                    <span class="options-link">三年级</span>
                    <span class="options-link">四年级</span>
                    <span class="options-link">五年级</span>
                    <span class="options-link">六年级</span>
                    <span class="options-link">七年级</span>
                    <span class="options-link">八年级</span>
                    <span class="options-link">九年级</span>
                </div>
                <div class="options-tab">
                    <lable class="options-lab">技能：</lable>
                    <span class="options-link active">学习技能</span>
                    <span class="options-link">沟通技能</span>
                </div>
            </div>
        </div>
        <div class="row project-select">
            <div class="select-title">
                <span class="select-tab active">最新</span>
                <span class="select-tab">最热</span>
                <div class="select-key">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid">
                        <span class="input-group-addon"><i class="pf-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row project-results">
            <div class="row case-row">
                <div class="case-list">
                    <div class="case-item">
                        <div class="item-pic">
                            <img src="/images/img001.jpg" alt=""/>
                        </div>
                        <div class="item-title">
                            社区小菜园环保活动倡议书
                        </div>
                        <div class="item-cont">
                            <div class="item-tag">三年级，数学，科学</div>
                            <a href="#/projects/013907fc-a4a2-47b9-8126-9edd8e73d6fe" class="item-link">了解详情</a>
                        </div>
                    </div>
                    <div class="case-item">
                        <div class="item-pic">
                            <img src="/images/img002.jpg" alt=""/>
                        </div>
                        <div class="item-title">
                            社区小菜园环保活动倡议书
                        </div>
                        <div class="item-cont">
                            <div class="item-tag">三年级，数学，科学</div>
                            <a href="javascript:void(0);" class="item-link">了解详情</a>
                        </div>
                    </div>
                    <div class="case-item">
                        <div class="item-pic">
                            <img src="/images/img003.jpg" alt=""/>
                        </div>
                        <div class="item-title">
                            社区小菜园环保活动倡议书
                        </div>
                        <div class="item-cont">
                            <div class="item-tag">三年级，数学，科学</div>
                            <a href="javascript:void(0);" class="item-link">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="case-more">
                    <span class="btn">查看更多</span>
                </div>
            </div>
        </div>
    </div>
</div>