.home-controller{

}

.selector{
  width:650px;
  dl.table{
    dd{
      height:350px;
      ul.categories{
        margin:0 -12px;
        li{
          border-bottom:1px solid #e0e0e0;
          padding:0 12px;
          cursor:pointer;
          &:hover{
            background:#fafafa;
          }
          &.active{
            background:#f5faff;
            border-left:2px solid #6faef0;
            padding-left:10px;
          }
        }
      }
      .selector-entries{
        line-height:26px;
        height:100%;
        margin:0 -12px;
        padding:3px 12px;
        overflow:auto;
        .selector-entry{
          font-weight:bold;
        }
        .selector-entry-children{
          //padding-left:1em;
        }
      }
      .selector-footer{
        text-align:right;
        height:30px;
        padding:8px;
      }
    }
  }
}

.project-create-new{
  margin-top:50px;
  cursor: pointer;
 h2{
  font-size: 16px;
 }
  .file-up{
    width:93px;
    height: 93px;
    text-align: center;
    border:dashed 1px #e8e8e8;
 .circle{
    width:55px;
    height:55px;
   line-height: 55px;
    color: #ddd;
    margin:10px auto -10px;
    border-radius: 50%;
    background: #f6f6f6;
  }
  }
  .pf-search{
    color:#d2d2d2;
    font-size: 23px;
    position: absolute;
    left: 2px;
    top:6px;
  }
}