.home-controller{

}

.selector{
  width:650px;
  dl.table{
    dd{
      height:350px;
      ul.categories{
        margin:0 -12px;
        li{
          border-bottom:1px solid #e0e0e0;
          padding:0 12px;
          cursor:pointer;
          &:hover{
            background:#fafafa;
          }
          &.active{
            background:#f5faff;
            border-left:2px solid #6faef0;
            padding-left:10px;
          }
        }
      }
      .selector-entries{
        line-height:26px;
        height:100%;
        margin:0 -12px;
        padding:3px 12px;
        overflow:auto;
        .selector-entry{
          font-weight:bold;
        }
        .selector-entry-children{
          //padding-left:1em;
        }
      }
      .selector-footer{
        text-align:right;
        height:30px;
        padding:8px;
      }
    }
  }
}

.gauges-selector{
  width:600px;
  margin:-18px 0;
  .gauges-list{
    margin:0 -12px -12px;
  }
}

.project-create-new{
  cursor:pointer;
  &:after{
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    overflow:hidden;
    content:".";
  }
  h2{
    font-size:16px;
  }
  .file-up{
    right:0;
    width:93px;
    height:93px;
    bottom:-10px;
    text-align:center;
    border:dashed 1px #e8e8e8;
    position:absolute;

    .circle{
      width:55px;
      height:55px;
      color:#ddd;
      margin:10px auto -10px;
      line-height:55px;
      border-radius:50%;
      background:#f6f6f6;
      .pf-camera{
        color:#d2d2d2;
        font-size:20px;
        vertical-align:top;
      }
    }
  }
  & .pf-search{
    color:#d2d2d2;
    font-size:23px;
    position:absolute;
    left:2px;
    top:6px;
  }
}

.input-group{
  span{
    position:relative;
    input{
      border:none;
      border-bottom:#000 solid 1px;
      width:90px;
      margin-right:3px;
      text-align:center;
    }
    i{
      left:50%;
      bottom:28px;
      color:red;
      height:27px;
      margin-left:-29px;
      padding:0 5px;
      line-height:27px;
      position:absolute;
      font-style:normal;
      border:#e0e0e0 solid 1px;
      display:inline-block;
      &:before, &:after{
        width:0;
        height:0;
        font-size:0;
        border-width:8px;
        position:absolute;
        content:"";
        border-style:dashed dashed dashed dashed;
        border-top-color:#e0e0e0;
      }
      &:before{
        position:absolute;
        left:50%;
        bottom:-16px;
        margin-left:-6px;
        border-color:rgba(0, 0, 0, .25) transparent transparent transparent;
      }
      &:after{
        position:absolute;
        left:50%;
        bottom:-15px;
        margin-left:-6px;
        border-color:#FFF transparent transparent transparent;
      }
    }
  }
}

.project-create-release{
  border-radius:3px;
  /*@include border-radius(2px);*/
  h2{
    font-size:14px;
  }
  .mar-2 img{
    margin-right:2px;
  }
}