@import "compass/css3";

.home-controller{
  min-width: 1280px;
}

.selector{
  width:650px;
  dl.table{
    dd{
      height:350px;
      ul.categories{
        margin:0 -12px;
        li{
          border-bottom:1px solid #e0e0e0;
          padding:0 12px;
          cursor:pointer;
          &:hover{
            background:#fafafa;
          }
          &.active{
            background:#f5faff;
            border-left:2px solid #6faef0;
            padding-left:10px;
          }
        }
      }
      .selector-entries{
        line-height:26px;
        height:100%;
        margin:0 -12px;
        padding:3px 12px;
        overflow:auto;
        .selector-entry{
          font-weight:bold;
        }
        .selector-entry-children{
          //padding-left:1em;
        }
        &.busy{
          position:relative;
          &:after{
            display:block;
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            background:rgba(255, 255, 255, 0.45);
            content:'';
          }
        }
      }
      .selector-footer{
        text-align:right;
        height:30px;
        padding:8px;
      }
    }
  }
  .selector{
    line-height:50px;
  }
}

/*.input-group{
  span{
    position:relative;
    input{
      border:none;
      border-bottom:#000 solid 1px;
      width:90px;
      margin-right:3px;
      text-align:center;
    }
    i{
      left:50%;
      bottom:28px;
      color:red;
      height:27px;
      margin-left:-29px;
      padding:0 5px;
      line-height:27px;
      position:absolute;
      font-style:normal;
      border:#e0e0e0 solid 1px;
      display:inline-block;
      &:before, &:after{
        width:0;
        height:0;
        font-size:0;
        border-width:8px;
        position:absolute;
        content:"";
        border-style:dashed dashed dashed dashed;
        border-top-color:#e0e0e0;
      }
      &:before{
        position:absolute;
        left:50%;
        bottom:-16px;
        margin-left:-6px;
        border-color:rgba(0, 0, 0, .25) transparent transparent transparent;
      }
      &:after{
        position:absolute;
        left:50%;
        bottom:-15px;
        margin-left:-6px;
        border-color:#FFF transparent transparent transparent;
      }
    }
  }
}*/

ul.nav-left{
  li{
    margin-bottom:1px;
    a{
      display:block;
      color:#333;
      line-height:30px;
      padding:0 12px;
      text-decoration:none;
      i{
        display:inline-block;
        font-size:18px;
        color:#c8c8c8;
        line-height:29px;
        margin-right:6px;
        float:left;
      }
      &:hover,&.active{
        text-decoration:none;
        color:#4182f0;
        background:#f5f5f5;
        i{
          color:#4182f0;
        }
      }
    }
  }
}