body{
  padding-bottom:60px;
}

.logo{
  $height:60px;
  width:200px;
  height:$height;
  padding:0;
  margin-right:25px;
  background-repeat:no-repeat;
  background-position:center;
  &.zh-cn{
    background-image:image-url('logo_zh-cn.png');
    background-image:-webkit-image-set(image-url('logo_zh-cn.png') 1x, image-url('logo_zh-cn_2x.png') 2x);
    background-image:-moz-image-set(image-url('logo_zh-cn.png') 1x, image-url('logo_zh-cn_2x.png') 2x);
    background-image:-o-image-set(image-url('logo_zh-cn.png') 1x, image-url('logo_zh-cn_2x.png') 2x);
    background-image:-ms-image-set(image-url('logo_zh-cn.png') 1x, image-url('logo_zh-cn_2x.png') 2x);
  }
  &.en-us{
    background-image:image-url('logo_en-us.png');
    background-image:-webkit-image-set(image-url('logo_en-us.png') 1x, image-url('logo_en-us_2x.png') 2x);
    background-image:-moz-image-set(image-url('logo_en-us.png') 1x, image-url('logo_en-us_2x.png') 2x);
    background-image:-o-image-set(image-url('logo_en-us.png') 1x, image-url('logo_en-us_2x.png') 2x);
    background-image:-ms-image-set(image-url('logo_en-us.png') 1x, image-url('logo_en-us_2x.png') 2x);
  }
}

#header{
  $height:60px;
  border-bottom:1px solid #dcdcdc;
  line-height:$height;
  margin-bottom:15px;
  .container{
    margin:0 auto;
  }
  .nav{
    a{
      display:block;
      padding:0 25px;
      font-size:16px;
      text-decoration:none;
      color:#333;
      &:hover{
        text-decoration:none;
        color:#478aff;
      }
      &.active{
        color:#4182f0;
      }
    }
  }
  .top-right{
    position:relative;
    z-index:1000;
    > li{
      float:left;
      width:40px;
      .top-search-btn, .top-right-btn{
        position:relative;
        display:block;
        width:40px;
        height:$height;
        line-height:$height;
        font-size:20px;
        color:#999;
        text-align:center;
      }
      .top-right-btn{
        &:after{
          display:none;
          position:absolute;
          left:0;
          right:0;
          bottom:-15px;
          width:100%;
          height:15px;
          content:"";
          background:#fff;
        }
      }
      &.top-avatar{
        display:table;
        table-layout:fixed;
        width:46px;
        height:$height;
        .top-right-btn{
          display:table-cell;
          width:100%;
          height:100%;
          vertical-align:middle;
          a{
            $size:30px;
            display:block;
            width:$size;
            height:$size;
            margin:0 auto;
            border-radius:50%;
            overflow:hidden;
            opacity:.6;
            img{
              display:block;
              width:$size;
              height:$size;
            }
          }
        }
      }
      .sub-menu{
        display:none;
        position:absolute;
        top:$height;
        right:0;
        line-height:22px;
        padding:15px;
        background:#fff;
        box-shadow:0 0 10px 0 #999;
        z-index:-1;
      }
      &.hover{
        box-shadow:0 0 10px 0 #999;
        .top-right-btn{
          color:#000;
          background:#fff;
          &:after{
            display:block;
          }
        }
        &.top-avatar{
          .top-right-btn{
            a{
              opacity:1;
            }
          }
        }
        .sub-menu{
          display:block;
        }
      }
    }
  }
  .navbar{
    height:60px;
    vertical-align:bottom;
    .logo{
      margin-right:20px;
      float:left;
      line-height:0px;
      img{
        height:60px;
      }
    }
    .nav-main{
      float:left;
      font-size:18px;
      a{
        color:#000;
        padding:0 10px;
        margin:0 10px;
        display:inline-block;
        line-height:30px;
        vertical-align:bottom;
        &.active{
          color:#3d80f5;
          border-bottom:2px solid #3d80f5;
        }
      }
    }
    .user-tools{
      float:right;
      margin-top:20px;
      line-height:10px;
    }
  }
  .banner{
    width:100%;
    position:relative;
    overflow:hidden;
    height:150px;
    img{
      position:absolute;
      left:50%;
      margin-left:-1000px;
    }
  }
}

#main{
  margin:0 auto;
}

#footer{
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#f5f5f5;
  line-height:60px;
  text-align:center;
  color:#999;
}

.dev-state{
  display:none;
  position:absolute;
  left:10px;
  bottom:10px;
  font:13px/20px Arial;
  color:#999;
  padding:12px 20px;
  margin:0;
  white-space:pre-line;
  background:#fff;
  box-shadow:0 0 8px 0 #999;
}

#index{
  margin:auto;
  .row{
    .row-title{
      text-align:center;
      font-size:36px;
      line-height:72px;
      margin:60px;
      span{
        display:block;
      }
      hr{
        border:none;
        border-bottom:1px solid #3c7ff2;
        width:104px;
        margin:0 auto;
      }
    }
  }
  .case-row{
    .case-list{
      .case-item{
        float:left;
        width:360px;
        height:320px;
        margin:20px;
        padding:2px;
        .item-pic{
          .project-cover{
            height:200px;
            line-height:200px;
            text-align:center;
          }
          img{
            width:100%;
//            -webkit-filter:saturate(0); /* Webkit */
//            filter:saturate(0); /* W3C */
          }
        }
        .item-title{
          font-size:17px;
          margin:10px 15px;
        }
        .item-cont{
          margin:5px 15px;
          color:#666666;
          .item-link{
            display:inline-block;
            color:#7e94b9;
          }
        }
        &:hover{
          border:3px solid #3d7ef2;
          .item-pic{
            img{
//              -webkit-filter:saturate(1); /* Webkit */
//              filter:saturate(1); /* W3C */
            }
          }
          .item-cont{
            .item-link{
              padding:5px 20px;
              border:1px solid #3d7ef2;
              border-radius:5px;
              text-decoration:none;
            }
          }
        }
      }
    }
  }
  .news-row{
    .news-list{
      .news-group{
        .news-item{
          float:left;
          width:600px;
          height:255px;
          .item-intro{
            width:300px;
            height:255px;
            background:#f7f8fa;
            float:left;
            padding:30px 20px;
            position:relative;
            .item-title{
              font-size:17px;
              margin-bottom:17px;
            }
            .item-cont{
              color:#666666;
              margin-bottom:30px;
            }
            .item-link{
              position:absolute;
              bottom:20px;
              right:30px;
              font-size:22px;
              text-decoration:none;
              color:#666666;
            }
          }
          .item-pic{
            width:300px;
            height:255px;
            float:left;
          }

          &:hover{
            .item-intro{
              background:#3c7ff4;
              color:#ffffff;
              .item-cont{
                color:#ffffff;
              }
              .item-link{
                color:#ffffff;
              }
            }
          }

          &:nth-child(4n), &:nth-child(4n+3){
            .item-intro{
              float:right;
              &:before{
                position:absolute;
                content:'';
                display:block;
                width:0;
                height:0;
                left:0;
                top:50%;
                margin-left:-11px;
                margin-top:-11px;
                border:11px solid #fff;
                border-top-color:transparent;
                border-bottom-color:transparent;
                border-left:0;
                z-index:2;
              }
            }
            .item-pic{
              float:right;
            }
            &:hover{
              .item-intro{
                &:before{
                  border:11px solid #3c7ff4;
                  border-top-color:transparent;
                  border-bottom-color:transparent;
                  border-left:0;
                }
              }
            }

          }
          &:nth-child(4n+1), &:nth-child(4n+2){
            .item-intro{
              &:after{
                position:absolute;
                content:'';
                display:block;
                width:0;
                height:0;
                right:0;
                top:50%;
                margin-right:-11px;
                margin-top:-11px;
                border:11px solid #fff;
                border-top-color:transparent;
                border-bottom-color:transparent;
                border-right:0;
                z-index:2;
              }
            }
            &:hover{
              .item-intro{
                &:after{
                  border:11px solid #3c7ff4;
                  border-top-color:transparent;
                  border-bottom-color:transparent;
                  border-right:0;
                }
              }
            }

          }
        }
      }
    }
  }
  .note-row{
    .note-list{
      .note-item{
        float:left;
        width:360px;
        height:320px;
        margin:20px;
        .item-cont{
          &:before{
            content:'“';
            font-size:100px;
            color:#d1d1d1;
            display:block;
            margin-left:-40px;
          }
          color:#666666;
          font-size:16px;
          padding:40px;
          height:200px;
        }
        .item-teacher{
          padding:40px;
          .item-info{
            display:inline-block;
            float:right;
            font-size:17px;
            text-align:center;
            margin-right:5px;
            .item-name{
              margin-top:20px;
            }
            .item-info{
              color:#666;

            }
          }
          .item-pic{
            display:inline-block;
            float:right;
            img{
              border-radius:50%;
              border:2px solid #3980f6;
            }
          }
        }
      }
    }
  }
  .link-row{
    .link-list{
      width:925px;
      margin:auto;
      .link-item{
        text-align:center;
        width:185px;
        float:left;
        .item-pic{
          width:185px;
          border-right:1px solid #c3c3c3;
        }
        .item-title{
          color:#666;
          margin:10px 0 20px 0;
        }
        &:nth-child(5n){
          .item-pic{
            border-right:none;
          }
        }
      }

    }
  }
}

//projectlist
#index{
  .project-options{
    .options-title{
      height:42px;
      border-bottom:1px solid #e3e3e3;
      span{
        font-size:24px;
        line-height:42px;
        border-bottom:1px solid #3c7ff2;
        display:inline-block;
        height:42px;
      }
    }
    .options-area{
      padding:20px;
      .options-result{
        height:36px;
      }
      .options-tab{
        height:36px;
        border-bottom:1px dashed #dfdfdf;
        &:last-child{
          border-bottom:none;
        }
      }
      .options-lab{
        height:36px;
        color:#666666;
        width:70px;
        display:inline-block;
        text-align:center;
        line-height:36px;
      }
      .options-link{
        padding:10px;
        cursor:pointer;
        &.active{
          color:#3c7ef6;
        }
      }
      .options-tag{
        border:1px solid #aaa;
        display:inline-block;
        margin-right:5px;
        padding:1px 3px 1px 10px;
        i{
          margin-left:5px;
          color:#aaa;
          cursor:pointer;
        }
      }
    }
  }
  .project-select{
    .select-title{
      height:42px;
      border-bottom:1px solid #e3e3e3;
      .select-tab{
        display:inline-block;
        width:100px;
        height:42px;
        font-size:17px;
        line-height:42px;
        text-align:center;
        &.active{
          color:#3c7ff4;
          border-top:2px solid #3c7ff4;
          border-right:1px solid #e3e3e3;
          border-left:1px solid #e3e3e3;
          border-bottom:1px solid #fff;
        }
      }
      .select-key{
        float:right;
        width:225px;
        .input-group-addon{
          background:#3c7ff4;
          color:#fff;
        }
      }
    }
  }
  .project-results{
    .case-more{
      text-align:center;
      margin-bottom:20px;
    }
  }
}

//projectshow
#index{
  .project-info{
    .project-pic{
      width:350px;
      height:265px;
      border:1px solid #e2e2e2;
      box-shadow:0 3px 3px #a8a8a8;
      float:left;
      .project-cover{
        height:200px;
        line-height:200px;
        text-align:center;
      }
      .project-btn{
        text-align:center;
        .btn{
          margin:10px;
        }
      }
    }
    .project-intro{
      float:left;
      margin:10px 20px;
      line-height:28px;
      font-size:16px;
      color:#000;
      strong{
        color:#666;
      }
      .project-title{
        font-size:18px;
        color:#000;
      }
    }
  }
  .project-details{
    .project-tab{
      .info-tab-btn{
        margin-top:30px;
      }
      .info-tab-cont{
        margin-bottom:30px;
        .info-cont-row{
          margin:20px auto;
          strong{
            display:inline-block;
            font-size:15px;
            padding:10px;
          }
        }
      }
      .tasks{
        padding:20px;
        margin:10px;
        border:1px solid #dddddd;
        border-radius:5px;
        .task-content{
          padding:0 20px;
          label{
            color:#666;
          }
        }
      }
    }
    .project-teacher{
      padding:10px;
      .teacher-title{
        margin:20px 0;
        font-size:16px;
      }
      .item-teacher{
        padding:10px;
        .item-info{
          display:inline-block;
          float:left;
          font-size:17px;
          text-align:center;
          margin-left:5px;
          .item-name{
            margin-top:20px;
          }
          .item-info{
            color:#666;

          }
        }
        .item-pic{
          display:inline-block;
          float:left;
          img{
            border-radius:50%;
          }
        }
      }
    }
  }
}