body{
  padding-bottom:60px;
}

#header{
  $height:60px;
  border-bottom:1px solid #dcdcdc;
  line-height:$height;
  margin-bottom:15px;
  .container{
    margin:0 auto;
  }
  .nav{
    a{
      display:block;
      padding:0 25px;
      font-size:16px;
      text-decoration:none;
      color:#333;
      &:hover{
        text-decoration:none;
        color:#478aff;
      }
      &.active{
        color:#4182f0;
      }
      &.logo{
        width:200px;
        height:$height;
        padding:0;
        margin-right:25px;
        background-repeat:no-repeat;
        background-position:center;
        &.zh-cn{
          background-image:image-url('logo_zh-cn.png');
          background-image:-webkit-image-set(image-url('logo_zh-cn.png') 1x, image-url('logo_zh-cn_2x.png') 2x);
          background-image:-moz-image-set(image-url('logo_zh-cn.png') 1x, image-url('logo_zh-cn_2x.png') 2x);
          background-image:-o-image-set(image-url('logo_zh-cn.png') 1x, image-url('logo_zh-cn_2x.png') 2x);
          background-image:-ms-image-set(image-url('logo_zh-cn.png') 1x, image-url('logo_zh-cn_2x.png') 2x);
        }
        &.en-us{
          background-image:image-url('logo_en-us.png');
          background-image:-webkit-image-set(image-url('logo_en-us.png') 1x, image-url('logo_en-us_2x.png') 2x);
          background-image:-moz-image-set(image-url('logo_en-us.png') 1x, image-url('logo_en-us_2x.png') 2x);
          background-image:-o-image-set(image-url('logo_en-us.png') 1x, image-url('logo_en-us_2x.png') 2x);
          background-image:-ms-image-set(image-url('logo_en-us.png') 1x, image-url('logo_en-us_2x.png') 2x);
        }
      }
    }
  }
  .top-right{
    position:relative;
    z-index:1000;
    > li{
      float:left;
      width:40px;
      .top-search-btn, .top-right-btn{
        position:relative;
        display:block;
        width:40px;
        height:$height;
        line-height:$height;
        font-size:20px;
        color:#999;
        text-align:center;
      }
      .top-right-btn{
        &:after{
          display:none;
          position:absolute;
          left:0;
          right:0;
          bottom:-15px;
          width:100%;
          height:15px;
          content:"";
          background:#fff;
        }
      }
      &.top-avatar{
        display:table;
        table-layout:fixed;
        width:46px;
        height:$height;
        .top-right-btn{
          display:table-cell;
          width:100%;
          height:100%;
          vertical-align:middle;
          a{
            $size:30px;
            display:block;
            width:$size;
            height:$size;
            margin:0 auto;
            border-radius:50%;
            overflow:hidden;
            opacity:.6;
            img{
              display:block;
              width:$size;
              height:$size;
            }
          }
        }
      }
      .sub-menu{
        display:none;
        position:absolute;
        top:$height;
        right:0;
        line-height:22px;
        padding:15px;
        background:#fff;
        box-shadow:0 0 10px 0 #999;
        z-index:-1;
      }
      &.hover{
        box-shadow:0 0 10px 0 #999;
        .top-right-btn{
          color:#000;
          background:#fff;
          &:after{
            display:block;
          }
        }
        &.top-avatar{
          .top-right-btn{
            a{
              opacity:1;
            }
          }
        }
        .sub-menu{
          display:block;
        }
      }
    }
  }
}
#main{
  margin:0 auto;
}

#footer{
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#f5f5f5;
  line-height:60px;
  text-align:center;
  color:#999;
}

.dev-state{
  display:none;
  position:absolute;
  left:10px;
  bottom:10px;
  font:13px/20px Arial;
  color:#999;
  padding:12px 20px;
  margin:0;
  white-space:pre-line;
  background:#fff;
  box-shadow:0 0 8px 0 #999;
}

#index{
  margin: auto;
  .row{
    .row-title{
      text-align: center;
      font-size: 36px;
      line-height: 72px;
      margin: 60px;
      span{
        display: block;
      }
      hr{
        border: none;
        border-bottom: 1px solid #3c7ff2;
        width: 104px;
        margin: 0 auto;
      }
    }
  }
  .case-row{
    .case-list{
      .case-item{
        float: left;
        width: 360px;
        height: 320px;
        margin: 20px;
        padding: 2px;
        .item-pic {
          img {
            width: 100%;
            -webkit-filter: saturate(0);/* Webkit */
            filter: saturate(0);/* W3C */
          }
        }
        .item-title{
          font-size: 17px;
          margin: 10px 15px;
        }
        .item-cont{
          margin: 5px 15px;
          color: #666666;
          .item-link{
            display: inline-block;
            margin-top: 10px;
            color: #7e94b9;
          }
        }
        &:hover{
          border: 3px solid #3d7ef2;
          .item-pic {
            img {
              -webkit-filter: saturate(1);/* Webkit */
              filter: saturate(1);/* W3C */
            }
          }
          .item-cont{
            .item-link{
              padding: 5px 20px;
              border:1px solid #3d7ef2;
              border-radius: 5px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .news-row{
    .news-list{
      .news-group{
        .news-item{
          float:left;
          width: 600px;
          height: 255px;
          .item-intro{
            width: 300px;
            height: 255px;
            background: #f7f8fa;
            float: left;
            padding: 30px 20px;
            position: relative;
            .item-title{
              font-size: 17px;
              margin-bottom: 17px;
            }
            .item-cont{
              color: #666666;
              margin-bottom: 30px;
            }
            .item-link{
              font-size: 22px;
              text-decoration: none;
              color: #666666;
              float: right;
              margin-right: 20px;
            }
          }
          .item-pic{
            width: 300px;
            height: 255px;
            float: left;
          }

          &:hover{
            .item-intro{
              background: #3c7ff4;
              color: #ffffff;
              .item-cont{
                color: #ffffff;
              }
              .item-link{
                color: #ffffff;
              }
            }
          }
        }
        &:nth-child(even){
          .news-item{
            .item-intro{
              float: right;
              &:before {
                position: absolute;
                content: '';
                display: block;
                width: 0;
                height: 0;
                left: 0;
                top:50%;
                margin-left: -11px;
                margin-top: -11px;
                border: 11px solid #fff;
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-left: 0;
                z-index: 2;
              }
            }
            .item-pic{
              float: right;
            }
            &:hover{
              .item-intro{
                  &:before {
                    border: 11px solid #3c7ff4;
                    border-top-color: transparent;
                    border-bottom-color: transparent;
                    border-left: 0;
                  }
              }
            }
          }
        }
        &:nth-child(odd){
          .news-item{
            .item-intro{
              &:after {
                position: absolute;
                content: '';
                display: block;
                width: 0;
                height: 0;
                right: 0;
                top:50%;
                margin-right: -11px;
                margin-top: -11px;
                border: 11px solid #fff;
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-right: 0;
                z-index: 2;
              }
            }
            &:hover{
              .item-intro{
                &:after {
                  border: 11px solid #3c7ff4;
                  border-top-color: transparent;
                  border-bottom-color: transparent;
                  border-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .note-row{
    .note-list{
      .note-item{
        float: left;
        width: 360px;
        height: 320px;
        margin: 20px;
        .item-cont{
          &:before {
            content: '“';
            font-size: 100px;
            color: #d1d1d1;
            display: block;
            margin-left: -40px;
          }
          color: #666666;
          font-size: 16px;
          padding: 40px;
          height: 200px;
        }
        .item-teacher{
          padding: 40px;
          .item-info{
            display: inline-block;
            float: right;
            font-size: 17px;
            text-align: center;
            margin-right: 5px;
            .item-name{
              margin-top: 20px;
            }
            .item-info{
              color: #666;

            }
          }
          .item-pic {
            display: inline-block;
            float: right;
            img {
              border-radius: 50%;
              border: 2px solid #3980f6;
            }
          }
        }
      }
    }
  }
  .link-row{
    .link-list{
      width: 925px;
      margin: auto;
      .link-item{
        text-align: center;
        width: 185px;
        float: left;
        .item-pic{
          width: 185px;
          border-right: 1px solid #c3c3c3;
        }
        .item-title{
          color: #666;
          margin: 10px 0 20px 0;
        }
        &:nth-child(5n){
          .item-pic {
            border-right: none;
          }
        }
      }

    }
  }
}