.dev-state{
  display:none;
  position:absolute;
  left:10px;
  bottom:10px;
  font:13px/20px Arial;
  color:#999;
  padding:12px 20px;
  margin:0;
  white-space:pre-line;
  background:#fff;
  box-shadow:0 0 8px 0 #999;
}