@import "compass/css3";
@import "commons/easy-animation";

.project-gauges{
  .table{
    .gauge-btn{
      color:#f06961;
      padding:0;
      width:33px;
      text-align:center;
      cursor:pointer;
      i{
        display:block;
        @include transition(.2s ease all);
        @include transform(translate3d(0, 0, 0));
        @include transform(scale(1, 1));
      }
      &:hover{
        color:#bb0000;
        i{
          @include transform(scale(1.3, 1.3));
        }
      }
    }
    th.gauge-btn{
      color:#4b8ef0;
      &:hover{
        color:#0064f0;
      }
    }
    .gauge-item{
      & > td{
        padding:8px;
        &.et-gauge{
          padding:0 !important;
          line-height:0;
          cursor:text;
        }
        & > textarea{
          border:none;
          width:100%;
          padding:8px;
          background:transparent;
        }
        &.disabled{
          & > textarea{
            color:#c6c6c6;
            cursor:no-drop;
          }
        }
        &.gauge-btn{
          cursor:pointer;
        }
        .rotation{
          $size:16px;
          font-size:$size !important;
          line-height:$size;
          width:$size;
          height:$size;
          color:#666;
        }
      }
      &:hover{
        background:#fffff0;
      }
    }
    .gauge-add-btn{
      position:relative;
      height:35px;
      cursor:pointer;
      & > div{
        position:absolute;
        display:block;
        top:-1px;
        right:-1px;
        bottom:-1px;
        left:-1px;
        line-height:35px;
        border:1px dotted #ccc;
        background:#fff;
      }
      &:hover{
        color:#0064f0;
        & > div{
          background:#f0faff;
        }
      }
    }
  }
}

.gauge-type{
  margin:5px;
  thead > tr > th{
    cursor:pointer !important;
  }
  &:hover{
    border-color:#b6d2ff;
    thead > tr > th{
      color:#000;
      background:#ebf2ff;
      border-color:#b6d2ff;
    }
  }
  &.active{
    border-color:#1e78f0;
    thead > tr > th{
      color:#fff;
      background:#3c96fa;
      border-color:#1e78f0;
    }
  }
}

.stage-product{
  width:600px;
  margin-top:-12px;
}

.gauges-selector{
  width:800px;
  height:100%;
  margin:-18px 0;
  .gauges-list{
    margin:0 -12px 6px;
  }
}

.technique-selector{
  ul.selection > li:last-of-type{
    border:none;
  }
}

.product-forms{
  $leftWidth:30;
  $footerHeight:55px;
  position:relative;
  width:650px;
  height:300px;
  .product-forms-list{
    position:absolute;
    left:0;
    right:#{100-$leftWidth+'%'};
    top:0;
    bottom:0;
    border-right:1px solid #e0e0e0;
    overflow:auto;
  }
  .product-forms-content{
    position:absolute;
    left:#{$leftWidth+'%'};
    right:0;
    top:0;
    bottom:$footerHeight;
    padding:5px 12px;
    overflow:auto;
  }
  .product-forms-footer{
    position:absolute;
    left:#{$leftWidth+'%'};
    right:0;
    bottom:0;
    height:$footerHeight;
    border-top:1px solid #e0e0e0;
    text-align:right;
    padding:11px;
    background:#f9f9f9;
  }
}

.product-final{
  position:relative;
  &:before{
    position:absolute;
    right:12px;
    top:12px;
    font-size:22px;
    line-height:22px;
    color:#dcccb3;
    content:'最终产品';
  }
}

.product-item{
  position:relative;
  .product-destroy{
    position:absolute;
    right:12px;
    bottom:12px;
  }
}

.project-info{
  position:relative;
  &:after{
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    overflow:hidden;
    content:".";
  }
  .upload-cover{
    position:absolute;
    right:20px;
    top:0;
    width:100px;
    height:100px;
    line-height:150px;
    text-align:center;
    border:1px dotted #e0e0e0;
    color:#666;
    cursor:pointer;
    overflow:hidden;
    @include transition(.2s ease all);
    &:before{
      display:block;
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background:#fafafa;
      content:'';
      z-index:-1;
      @include transition(.2s ease all);
    }
    &:after{
      display:block;
      position:absolute;
      left:50%;
      top:50%;
      width:60px;
      height:60px;
      line-height:60px;
      text-align:center;
      margin:-40px 0 0 -30px;
      font-family:'PblIconFont';
      content:'\e634';
      font-size:30px;
      color:#fff;
      background:#ececec;
      z-index:-1;
      @include transition(.2s ease all);
      @include transform(scale(.8, .8));
      @include border-radius(50%);
    }
    img{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      @include transition(.2s ease all);
      @include opacity(1);
    }
    &:hover{
      color:#1e78f0;
      border-color:#1e78f0;
      line-height:170px;
      &:before{
        background:#dcfaff;
        z-index:-1;
      }
      &:after{
        content:'\f00c';
        background:#1e78f0;
        z-index:-1;
        @include transform(scale(1, 1));
      }
      img{
        @include opacity(0);
      }
    }
    &.uploading{
      border-color:#1e78f0;
      pointer-events:none;
      &:before{
        background:#dcfaff;
        z-index:1;
      }
      &:after{
        content:"\e631";
        color:#fff;
        background:#1e78f0;
        z-index:1;
        margin-top:-30px;
        @include transform(scale(1, 1));
        @include ea-animation(rotation 1s infinite linear);
      }
    }
  }
  input[type=number]{
    text-align:center;
    width:80px !important;
  }
  .file-up{
    right:0;
    width:93px;
    height:93px;
    bottom:-10px;
    text-align:center;
    border:dashed 1px #e8e8e8;
    position:absolute;

    .circle{
      width:55px;
      height:55px;
      color:#ddd;
      margin:10px auto -10px;
      line-height:55px;
      border-radius:50%;
      background:#f6f6f6;
      .pf-camera{
        color:#d2d2d2;
        font-size:20px;
        vertical-align:top;
      }
    }
  }
  & .pf-search{
    color:#d2d2d2;
    font-size:23px;
    position:absolute;
    left:2px;
    top:6px;
  }
  .form-group-box{
    padding:0 20px;
    .form-group-box-sm{
      //margin:4px 40px;
    }
  }
}

.member-selector{
  width:650px;
  height:350px;
  & > div[class*="col-"]{
    border-right:1px solid #e0e0e0;
    padding:0;
    height:100%;
    &:last-of-type{
      border:none;
    }
  }
  .member-fixed{
    background:#fff;
    @include box-shadow(0 0 8px 0 #b4b4b4);
  }
  .member-users{
    position:absolute;
    left:0;
    right:0;
    top:36px;
    bottom:0;
    & > ul > li{
      line-height:34px;
      padding:0 22px;
      img{
        vertical-align:middle;
        @include border-radius(50%);
      }
    }
  }
  .layout-left{
    & > ul{
      margin:12px 0;
      & > li{
        padding:0 15px;
        & > ul > li{
          padding-left:1em;
        }
      }
    }
  }
  .layout-center{
    position:relative;
    overflow:hidden;
    background:#fdfdfd;
    .member-search{
      position:relative;
      padding:4px;
      &:before{
        position:absolute;
        left:8px;
        top:6px;
        display:inline-block;
        font-family:'PblIconFont';
        content:"\e61a";
        color:#ccc;
        font-size:18px;
        vertical-align:middle;
      }
      &.focusin:before{
        color:#66afe9;
      }
      .form-control{
        height:28px;
        line-height:28px;
        padding-left:24px;
        @include border-radius(0);
      }
    }
  }
  .layout-right{

  }
}

.project-create-release{
  border-radius:3px;
  border:#ccc solid 1px;
  position:relative;
  /*@include border-radius(2px);*/
  .pf-preview-flag{
    left:-5px;
    top:-26px;
    font-size:68px;
    color:#77c84f;
    position:absolute;
  }
  h2{
    font-size:14px;
  }
  .mar-2 img{
    margin-right:2px;
  }
}

.project-create-scaffold{
  .control-content{
    ul{
      li{
        text-indent:15px;
        color:#676767;
      }
    }
    padding:8px 12px;
    border:#ededed 1px solid;
  }
  .tasks-group{
    .tasks-group-item{
      .tasks-group-item-title{
        line-height:15px;
        padding:8px 12px;
        border-bottom:1px solid #f0f0f0;
        background:#f5f5f5;
        font-weight:bold;
      }
      .tasks-group-item-cont{
        padding:8px 12px;

      }
      .tasks-group-item-form{
        padding:8px 12px;
        label{
          line-height:33px;
        }
      }
      margin:16px 0;
      border:#ededed 1px solid;
    }
  }
}

.nav-ball{
  margin-bottom:50px;
  cursor:pointer;
  .blue-hint{
    &:before{
      position:absolute;
      left:50%;
      top:-4px;
      margin-left:-3px;
      display:block;
      width:7px;
      height:7px;
      border-radius:50%;
      content:'';
      background:#3d80f6;
    }
  }
  span{
    position:relative;
    display:inline-block;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    padding:3px 0 0 0 !important;
    &:before{
      position:absolute;
      left:50%;
      top:-4px;
      margin-left:-3px;
      display:block;
      width:7px;
      height:7px;
      border-radius:50%;
      content:'';
      background:#000;
    }

  }
}

.black-line{
  position:relative;
  border-top:#000 solid 1px;
  &:before, &:after{
    position:absolute;
    top:-3px;
    display:block;
    width:7px;
    height:7px;
    border-radius:50%;
    content:'';
    background:#000;
  }
  &:before{
    left:0;
  }
  &:after{
    right:0;
  }
}
