@import "compass/css3";

.gauges{
  .table{
    .gauge-btn{
      color:#f06961;
      padding:0;
      width:33px;
      text-align:center;
      cursor:pointer;
      i{
        display:block;
        @include transition(.2s ease all);
        @include transform(translate3d(0, 0, 0));
        @include transform(scale(1, 1));
      }
      &:hover{
        color:#bb0000;
        i{
          @include transform(scale(1.3, 1.3));
        }
      }
    }
    th.gauge-btn{
      color:#4b8ef0;
      &:hover{
        color:#0064f0;
      }
    }
    .gauge-item{
      & > td{
        padding:8px;
        &.et-gauge{
          padding:0 !important;
          line-height:0;
          cursor:text;
        }
        & > textarea{
          border:none;
          width:100%;
          padding:8px;
          background:transparent;
        }
        &.disabled{
          & > textarea{
            color:#c6c6c6;
            cursor:no-drop;
          }
        }
        &.gauge-btn{
          cursor:pointer;
        }
      }
    }
    .gauge-add-btn{
      position:relative;
      height:35px;
      & > div{
        position:absolute;
        display:block;
        top:-1px;
        right:-1px;
        bottom:-1px;
        left:-1px;
        line-height:35px;
        border:1px dotted #ccc;
        background:#fff;
      }
    }
  }
}

.gauge-type{
  margin:5px;
  thead > tr > th{
    cursor:pointer !important;
  }
  &:hover{
    border-color:#b6d2ff;
    thead > tr > th{
      color:#000;
      background:#ebf2ff;
      border-color:#b6d2ff;
    }
  }
  &.active{
    border-color:#1e78f0;
    thead > tr > th{
      color:#fff;
      background:#3c96fa;
      border-color:#1e78f0;
    }
  }
}

.stage-product{
  width:600px;
  margin-top:-12px;
}

.gauges-selector{
  width:800px;
  height:100%;
  margin:-18px 0;
  .gauges-list{
    margin:0 -12px 6px;
  }
}

.technique-selector{
  ul.selection > li:last-of-type{
    border:none;
  }
}

.product-forms{
  $leftWidth:30;
  $footerHeight:55px;
  position:relative;
  width:650px;
  height:300px;
  .product-forms-list{
    position:absolute;
    left:0;
    right:#{100-$leftWidth+'%'};
    top:0;
    bottom:0;
    border-right:1px solid #e0e0e0;
    overflow:auto;
  }
  .product-forms-content{
    position:absolute;
    left:#{$leftWidth+'%'};
    right:0;
    top:0;
    bottom:$footerHeight;
    padding:5px 12px;
    overflow:auto;
  }
  .product-forms-footer{
    position:absolute;
    left:#{$leftWidth+'%'};
    right:0;
    bottom:0;
    height:$footerHeight;
    border-top:1px solid #e0e0e0;
    text-align:right;
    padding:11px;
    background:#f9f9f9;
  }
}

.product-final{
  position:relative;
  &:before{
    position:absolute;
    right:12px;
    top:12px;
    font-size:22px;
    line-height:22px;
    color:#dcccb3;
    content:'最终产品';
  }
}

.product-item{
  position:relative;
  .product-destroy{
    position:absolute;
    right:12px;
    bottom:12px;
  }
}

.project-create-new{
  cursor:pointer;
  &:after{
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    overflow:hidden;
    content:".";
  }
  h2{
    font-size:16px;
  }
  .file-up{
    right:0;
    width:93px;
    height:93px;
    bottom:-10px;
    text-align:center;
    border:dashed 1px #e8e8e8;
    position:absolute;

    .circle{
      width:55px;
      height:55px;
      color:#ddd;
      margin:10px auto -10px;
      line-height:55px;
      border-radius:50%;
      background:#f6f6f6;
      .pf-camera{
        color:#d2d2d2;
        font-size:20px;
        vertical-align:top;
      }
    }
  }
  & .pf-search{
    color:#d2d2d2;
    font-size:23px;
    position:absolute;
    left:2px;
    top:6px;
  }
}

.project-create-release{
  border-radius:3px;
  border:#ccc solid 1px;
  position:relative;
  /*@include border-radius(2px);*/
  .pf-preview-flag{
    left:-5px;
    top:-26px;
    font-size:68px;
    color:#77c84f;
    position:absolute;
  }
  h2{
    font-size:14px;
  }
  .mar-2 img{
    margin-right:2px;
  }
}


.project-create-scaffold{
  .tasks-group{
    .tasks-group-item{
      .tasks-group-item-title{
        line-height:15px;
        padding:8px 12px;
        border-bottom:1px solid #f0f0f0;
        background:#f5f5f5;
        font-weight: bold;
      }
      .tasks-group-item-cont{
        padding:8px 12px;

      }
      .tasks-group-item-form{
        padding:8px 12px;
        label{
          line-height: 33px;
        }
      }
      margin: 16px 0;
      border:#ededed 1px solid;
    }
  }
}