@import "compass/css3";
@import "commons/easy-animation";

.project-gauges{
  .table{
    .gauge-btn{
      color:#f06961;
      padding:0;
      width:33px;
      text-align:center;
      cursor:pointer;
      i{
        display:block;
        @include transition(.2s ease all);
        @include transform(translate3d(0, 0, 0));
        @include transform(scale(1, 1));
      }
      &:hover{
        color:#bb0000;
        i{
          @include transform(scale(1.3, 1.3));
        }
      }
    }
    th.gauge-btn{
      color:#4b8ef0;
      &:hover{
        color:#0064f0;
      }
    }
    .gauge-item{
      & > td{
        padding:8px;
        &.et-gauge{
          padding:0 !important;
          line-height:0;
          cursor:text;
        }
        & > textarea{
          border:none;
          width:100%;
          padding:8px;
          background:transparent;
        }
        &.disabled{
          & > textarea{
            color:#c6c6c6;
            cursor:no-drop;
          }
        }
        &.percentage{
          position:relative;
          &:before{
            position:absolute;
            right:5px;
            top:50%;
            margin-top:-15px;
            display:block;
            line-height:30px;
            font-size:12px;
            font-family:Arial;
            color:#ccc;
            content:'%';
          }
          & > textarea{
            width:100%;
            padding:8px 20px 8px 8px;
            background:transparent;
          }
        }
        &.gauge-btn{
          cursor:pointer;
        }
        .rotation{
          $size:16px;
          font-size:$size !important;
          line-height:$size;
          width:$size;
          height:$size;
          color:#666;
        }
      }
      &:hover{
        background:#fffff0;
      }
    }
    .gauge-add-btn{
      position:relative;
      height:35px;
      cursor:pointer;
      & > div{
        position:absolute;
        display:block;
        top:-1px;
        right:-1px;
        bottom:-1px;
        left:-1px;
        line-height:35px;
        border:1px dotted #ccc;
        background:#fff;
      }
      &:hover{
        color:#0064f0;
        & > div{
          background:#f0faff;
        }
      }
    }
  }
}

.teacher-selector{
  display:block;
  line-height:36px;
  img{
    float:left;
    width:26px;
    height:26px;
    margin:5px 6px 0 0;
    @include border-radius(50%);
  }
}

.gauge-type{
  margin:5px;
  thead > tr > th{
    cursor:pointer !important;
  }
  &:hover{
    border-color:#b6d2ff;
    thead > tr > th{
      color:#000;
      background:#ebf2ff;
      border-color:#b6d2ff;
    }
  }
  &.active{
    border-color:#1e78f0;
    thead > tr > th{
      color:#fff;
      background:#3c96fa;
      border-color:#1e78f0;
    }
  }
}

.stage-product{
  width:600px;
  margin-top:-12px;
}

.gauges-selector{
  width:800px;
  height:100%;
  margin:-18px 0;
  .gauges-list{
    margin:0 0 6px;
    max-height:200px;
  }
}

.technique-selector{
  ul.selection > li:last-of-type{
    border:none;
  }
}

.product-forms{
  $leftWidth:30;
  $footerHeight:55px;
  position:relative;
  width:650px;
  height:300px;
  .product-forms-list{
    position:absolute;
    left:0;
    right:#{100-$leftWidth+'%'};
    top:0;
    bottom:0;
    border-right:1px solid #e0e0e0;
    overflow:auto;
  }
  .product-forms-content{
    position:absolute;
    left:#{$leftWidth+'%'};
    right:0;
    top:0;
    bottom:$footerHeight;
    padding:5px 12px;
    overflow:auto;
  }
  .product-forms-footer{
    position:absolute;
    left:#{$leftWidth+'%'};
    right:0;
    bottom:0;
    height:$footerHeight;
    border-top:1px solid #e0e0e0;
    text-align:right;
    padding:11px;
    background:#f9f9f9;
  }
}

.product-final{
  position:relative;
  &:before{
    position:absolute;
    right:12px;
    top:12px;
    font-size:22px;
    line-height:22px;
    color:#dcccb3;
    content:'最终产品';
  }
}

.product-item{
  position:relative;
  .product-destroy{
    position:absolute;
    right:12px;
    bottom:12px;
  }
}

.project-info{
  position:relative;
  &:after{
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    overflow:hidden;
    content:".";
  }
  .upload-cover{
    position:absolute;
    right:20px;
    top:0;
    width:100px;
    height:100px;
    line-height:150px;
    text-align:center;
    border:1px dotted #e0e0e0;
    color:#666;
    cursor:pointer;
    overflow:hidden;
    @include transition(.2s ease all);
    &:before{
      display:block;
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background:#fafafa;
      content:'';
      z-index:-1;
      @include transition(.2s ease all);
    }
    &:after{
      display:block;
      position:absolute;
      left:50%;
      top:50%;
      width:60px;
      height:60px;
      line-height:60px;
      text-align:center;
      margin:-40px 0 0 -30px;
      font-family:'PblIconFont';
      content:'\e634';
      font-size:30px;
      color:#fff;
      background:#ececec;
      z-index:-1;
      @include transition(.2s ease all);
      @include transform(scale(.8, .8));
      @include border-radius(50%);
    }
    img{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      @include transition(.2s ease all);
      @include opacity(1);
    }
    &:hover{
      color:#1e78f0;
      border-color:#1e78f0;
      line-height:170px;
      &:before{
        background:#dcfaff;
        z-index:-1;
      }
      &:after{
        content:'\f00c';
        background:#1e78f0;
        z-index:-1;
        @include transform(scale(1, 1));
      }
      img{
        @include opacity(0);
      }
    }
    &.uploading{
      border-color:#1e78f0;
      pointer-events:none;
      &:before{
        background:#dcfaff;
        z-index:1;
      }
      &:after{
        content:"\e631";
        color:#fff;
        background:#1e78f0;
        z-index:1;
        margin-top:-30px;
        @include transform(scale(1, 1));
        @include ea-animation(rotation 1s infinite linear);
      }
    }
  }
  input[type=number]{
    text-align:center;
    width:80px !important;
  }
  .file-up{
    right:0;
    width:93px;
    height:93px;
    bottom:-10px;
    text-align:center;
    border:dashed 1px #e8e8e8;
    position:absolute;

    .circle{
      width:55px;
      height:55px;
      color:#ddd;
      margin:10px auto -10px;
      line-height:55px;
      border-radius:50%;
      background:#f6f6f6;
      .pf-camera{
        color:#d2d2d2;
        font-size:20px;
        vertical-align:top;
      }
    }
  }
  & .pf-search{
    color:#d2d2d2;
    font-size:23px;
    position:absolute;
    left:2px;
    top:6px;
  }
  .form-group-box{
    padding:0 20px;
    .form-group-box-sm{
      //margin:4px 40px;
    }
  }
}

.member-selector{
  width:650px;
  height:350px;
  & > div[class*="col-"]{
    border-right:1px solid #e0e0e0;
    padding:0;
    height:100%;
    &:last-of-type{
      border:none;
    }
  }
  .member-fixed{
    position:relative;
    line-height:28px;
    padding:4px 12px;
    background:#fff;
    z-index:1;
    @include box-shadow(0 0 8px 0 #b4b4b4);
  }
  .member-users{
    position:absolute;
    left:0;
    right:0;
    top:36px;
    bottom:0;
    & > ul > li{
      height:34px;
      line-height:34px;
      padding:0 12px;
      border-bottom:1px solid #e6e6e6;
      cursor:pointer;
      img{
        float:left;
        width:24px;
        height:24px;
        margin:5px 6px 0 0;
        @include border-radius(50%);
      }
      &:hover{
        background:#f5f5f5;
      }
      &.selected{
        background:#66a7f0;
        color:#fff;
      }
      &.disabled{
        position:relative;
        border-color:#e6e6e6 !important;
        background:#f5f5f5 !important;
        img{
          @include opacity(.75);
        }
        &:before{
          position:absolute;
          right:5px;
          top:50%;
          margin-top:-8px;
          line-height:16px;
          display:block;
          font-family:'PblIconFont';
          content:"\e633";
          color:#4d90fe;
          font-size:12px;
        }
      }
    }
  }
  .member-btn{
    display:block;
    font-size:25px;
    padding:5px 0;
    cursor:pointer;
    &:before{
      display:block;
      @include transition(.2s ease all);
      @include transform(translate3d(0, 0, 0));
      @include transform(scale(.75, .75));
    }
    &:hover{
      color:#1e78f0;
      &:before{
        @include transform(scale(1, 1));
      }
    }
    &.disabled{
      background:transparent !important;
    }
  }
  .member-remove{
    display:block;
    width:28px;
    color:#bb0000;
    text-align:center;
    line-height:28px;
    margin-right:-5px;
    background:transparent !important;
    &:before{
      display:block;
      line-height:28px;
      font-size:18px;
      cursor:pointer;
      @include transition(.2s ease all);
      @include transform(translate3d(0, 0, 0));
      @include transform(scale(.85, .85));
    }
    &:hover{
      &:before{
        @include transform(scale(1, 1));
      }
    }
    &.disabled:before{
      @include transform(scale(.7, .7));
    }
  }
  .layout-left{
    & > ul{
      margin:12px 0;
      & > li{
        padding:0 15px;
        & > ul{
          margin:0 -15px;
          & > li{
            padding-left:2em;
          }
        }
      }
    }
    li{
      line-height:25px;
      margin-bottom:1px;
      cursor:default;
      &.hover{
        cursor:pointer;
        &:hover{
          background:#f0f0f0;
        }
      }
      &.active{
        position:relative;
        pointer-events:none !important;
        background:#66a7f0;
        color:#fff;
        &:hover{
          background:#66a7f0;
        }
        &:before{
          position:absolute;
          right:5px;
          top:50%;
          margin-top:-8px;
          line-height:16px;
          display:block;
          font-family:'PblIconFont';
          content:"\e62b";
          color:#fff;
          font-size:12px;
        }
      }
    }
  }
  .layout-center, .layout-right{
    position:relative;
    overflow:hidden;
    background:#fdfdfd;
  }
  .layout-center{
    .member-search{
      position:relative;
      padding:4px;
      &:before{
        position:absolute;
        left:8px;
        top:3px;
        display:inline-block;
        font-family:'PblIconFont';
        content:"\e61a";
        color:#ccc;
        font-size:18px;
        vertical-align:middle;
      }
      &.focusin:before{
        color:#66afe9;
      }
      .form-control{
        height:28px;
        line-height:28px;
        padding-left:24px;
        @include border-radius(0);
      }
    }
  }
  .layout-right{

  }
}

.project-release{
  position:relative;
  border:#ccc solid 1px;
  @include border-radius(3px);
  padding:35px 20px 20px;
  line-height:26px;
  background:#f7faff;
  @include border-radius(3px);
  .pf-preview-flag{
    position:absolute;
    left:-6px;
    top:-23px;
    font-size:80px;
    color:#77c84f;
  }
  .cover{
    $size:130px;
    position:relative;
    float:left;
    width:$size;
    height:$size;
    padding:5px;
    margin-right:15px;
    border:1px dotted #999;
    text-align:center;
    line-height:$size;
    overflow:hidden;
    .rotation{
      margin-top:45px;
    }
    img{
      position:absolute;
      left:4px;
      top:4px;
    }
  }
  .info{
    position:relative;
    padding-left:150px;
    min-height:150px;
    & > h1{
      font-size:20px;
      margin-bottom:8px;
    }
    .cover{
      $size:130px;
      position:absolute;
      left:0;
      top:0;
      width:$size;
      height:$size;
      padding:5px;
      margin-right:15px;
      border:1px dotted #999;
      text-align:center;
      line-height:$size;
      overflow:hidden;
      background:#fff;
      .rotation{
        margin-top:45px;
      }
      img{
        position:absolute;
        left:4px;
        top:4px;
      }
    }
  }
  .mar-2 img{
    margin-right:2px;
  }
  .documents{
    a{
      display:block;
      width:100%;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
  }
  .members{
    $size:40px;
    $scale:.65;
    & > span{
      position:relative;
      display:block;
      width:$size * $scale;
      height:$size * $scale;
      float:left;
      margin:4px;
      & > img{
        position:absolute;
        left:50%;
        top:50%;
        width:$size;
        height:$size;
        margin-top:-$size/2;
        margin-left:-$size/2;
        @include transition(.2s ease all);
        @include transform(translate3d(0, 0, 0));
        @include transform(scale($scale, $scale));
        @include border-radius(50%);
        @include opacity(.75);
        &:hover{
          z-index:1;
          @include transform(scale(1, 1));
          @include opacity(1);
        }
      }
    }
    & > a{
      display:block;
      float:left;
      margin:4px;
      line-height:$size * $scale;
    }
  }
}

.project-create-scaffold{
  .control-content{
    ul{
      li{
        text-indent:15px;
        color:#676767;
      }
    }
    padding:8px 12px;
    border:#ededed 1px solid;
  }
  .tasks-group{
    .tasks-group-item{
      .tasks-group-item-title{
        line-height:15px;
        padding:8px 12px;
        border-bottom:1px solid #f0f0f0;
        background:#f5f5f5;
        font-weight:bold;
      }
      .tasks-group-item-cont{
        padding:8px 12px;

      }
      .tasks-group-item-form{
        padding:8px 12px;
        label{
          line-height:33px;
        }
      }
      margin:16px 0;
      border:#ededed 1px solid;
    }
  }
}

.nav-ball{
  margin-bottom:50px;
  cursor:pointer;
  .blue-hint{
    &:before{
      position:absolute;
      left:50%;
      top:-4px;
      margin-left:-3px;
      display:block;
      width:7px;
      height:7px;
      border-radius:50%;
      content:'';
      background:#3d80f6;
    }
  }
  span{
    position:relative;
    display:inline-block;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    padding:3px 0 0 0 !important;
    &:before{
      position:absolute;
      left:50%;
      top:-4px;
      margin-left:-3px;
      display:block;
      width:7px;
      height:7px;
      border-radius:50%;
      content:'';
      background:#000;
    }

  }
}

.nav-circular{
  margin:30px 0 50px 0;
  ul{
    $nav-size:84px;
    $nav-color:#bcc4d7;
    $hit-color:#3f80f6;
    width:620px;
    height:$nav-size;
    margin:auto;
    li{
      float:left;
      width:$nav-size;
      height:$nav-size;
      margin-right:50px;
      border-radius:50%;
      border:2px solid $nav-color;
      color:$nav-color;
      cursor:pointer;
      position:relative;
      font-size:15px;
      .nav-icon{
        font-size:40px;
        width:40px;
        margin:12px auto 0 auto;
        padding:0;
      }
      .nav-title{
        display:block;
        text-align:center;
      }
      .nav-next{
        width:11px;
        height:11px;
        font-size:20px;
        margin:1px;
        position:absolute;
        top:31px;
        right:-35px;
      }
      &.blue-hint, &:hover{
        border:2px solid $hit-color;
        color:$hit-color;
      }
      &.last{
        margin-right:0;
      }
    }
  }
  text-align:center;
  .button{
    display:inline-block;
    margin:0 5px;
    background:#efefef;
    color:#000;
    width:90px;
    height:33px;
    line-height:33px;
    border-radius:33px;
    &.active{
      background:#78c64e;
      color:#fff;

    }
  }
}

.black-line{
  position:relative;
  border-top:#000 solid 1px;
  &:before, &:after{
    position:absolute;
    top:-3px;
    display:block;
    width:7px;
    height:7px;
    border-radius:50%;
    content:'';
    background:#000;
  }
  &:before{
    left:0;
  }
  &:after{
    right:0;
  }
}

.project-map{
  .et-tabs-titles{
    height:43px;
    border:1px solid #f0f0f0;
    background:#fafafa;
    .et-tabs-title{
      font-size:15px;
      padding:0 30px !important;
      border:none;
      border-right:1px solid #f0f0f0;
      &:hover{
        border:none;
        border-top:3px solid #f6bb3d;
      }
      &.active{
        border:none;
        border-top:3px solid #f6bb3d;
        color:#76c649;
      }
    }
  }
  .et-tabs-contents{
    border-top:none;
    padding:12px;
  }
}

.project-list{
  margin-top:30px;
  &.list-first{
    font-size:16px;
    color:#5f5f5f;
    span{
      margin-top:10px;
      padding:0 50px;
    }
  }
  .project-pointer{
    display:inline-block;
    width:10px;
    height:10px;
    margin:0 10px 0 20px;
    border-radius:50%;
    border:1px solid #fff;
    box-shadow:0px 1px 1px #aaaaaa;
    &.release{
      background:#57c177;
    }
    &.running{
      background:#f5bb3d;
    }
    &.published{
      background:#3d80f5;
    }
    &.draft{
      background:#3d80f5;
    }
    &.completed{
      background:#c0c0c0;
    }
  }
  .list-btn{
    margin-top:10px;
  }
}

.project-title{
  position:relative;
  margin-bottom:30px;
  .title-text{
    font-size:17px;
    padding:8px 15px;
    border-bottom:1px dashed #b6c6d5;
  }
  .title-pointer{
    display:block;
    width:10px;
    height:10px;
    border:1px solid #b6c6d5;
    border-radius:50%;
    background:#fff;
    position:absolute;
    left:0;
    bottom:-10px;
  }
}

.project-show-info{
  strong{
    color:#999;
  }
  .info-cont{
    .cover{
      $size:130px;
      position:relative;
      float:left;
      width:$size;
      height:$size;
      padding:5px;
      margin-right:15px;
      border:1px dotted #999;
      text-align:center;
      line-height:$size;
      overflow:hidden;
      .rotation{
        margin-top:45px;
      }
      img{
        position:absolute;
        left:4px;
        top:4px;
      }
    }
    .info{
      position:relative;
      & > h1{
        font-size:20px;
        margin-bottom:8px;
      }
      span{
        margin-right:15px;
      }
      .info-edit{
        position:absolute;
        right:0;
        top:0;
        color:#999;
        font-size:20px;
      }
    }
    .mar-2 img{
      margin-right:2px;
    }
    .info-description{
      margin:10px 0;
    }
    .info-tab-btn{
      margin:20px 0;
      a{
        margin-right:60px;
        color:#999;
        &.active{
          color:#3d80f5;
        }
        &:hover{
          cursor:pointer;
        }
      }
    }
  }
  .resouce-list-group{
    margin:10px;
    .resouce-item{
      display:inline-block;
      width:240px;
      height:45px;
      margin:10px;
      text-decoration:none;
      .item-logo{
        float:left;
        width:45px;
        height:45px;
        margin:0 10px;
        span{
          font-size:45px;
        }
      }
      .item-title{
        color:#000000;
      }
      .item-time{
        color:#b9b6b6;
      }
    }
  }
}

.project-show-member{
  .input-int{
    width:60px;
  }
  .btn-padding{
    padding:0 30px;
  }
  .group-user{
    display:inline-block;
    color:#000000;
    text-decoration:none;
    position:relative;
    vertical-align:middle;
    margin:15px 15px;
    width:140px;
    img{
      border-radius:50%;
      vertical-align:middle;
    }
    .lead-name{
      margin:0 10px;
    }
    .lead-flag{
      color:#ff0000;
    }

  }
  table{
    .thead{
      width:137px;
      text-align:center;
      background:#f5f5f5;
    }
    tr{
      height:75px;
      .btn{
        margin:10px;
      }
    }
  }
}

.project-show-scaffold{
  .input-date{
    width:125px;
    float:left;
    margin-right:10px;
  }
  .input-time{
    width:90px;
  }
  .input-duration{
    margin-right:10px;
  }
  input[type="radio"]{
    width:17px;
    height:17px;
    border:1px solid #ededed;
    vertical-align:middle;
    margin:10px;
    padding:0;
  }

  input[type="radio"]:checked{
    color:#000;
    background-position:0 -112px;
  }

  .task-list{
    .tasks-group-item{
      border-top:1px solid #ebebeb;
      color:#656565;
      .tasks-group-item-title{
        height:40px;
        line-height:40px;
        vertical-align:middle;
        background:#f6f6f6;
        .btn-mini{
          margin-top:10px;
          margin-right:10px;
          background:none;
          border-radius:0;
          color:#d5d5d5;
          font-size:20px;
          display:none;
        }
        &:hover{
          .btn-mini{
            display:inline;
          }
          .time{
            display:none;
          }
        }
      }
      .tasks-group-item-cont{
        border-top:1px solid #ebebeb;
        margin-bottom:20px;
      }
    }
  }
}

.project-show-resources{
  .search-head{
    .search-title{
      font-size:15px;
      padding:0 10px;
    }
    .search-form{
      .search-select{
        margin-right:10px;
      }
      .input-search{
        border:none;
        border-bottom:2px solid #666666;
        height:30px;
        width:205px;
        font-size:16px;
        display:inline-block;
        text-indent:10px;
        text-align:left;
        line-height:26px;
        color:#666666;
        input{
          height:26px;
          border:none;
          font-size:18px;
          line-height:18px;
          margin-left:4px;
          width:160px;
          vertical-align:top;
        }
      }
    }
  }

  .resources-list{
    border-bottom:1px solid #e1e1e1;
    border-left:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
    margin-top:20px;
    .resources-item{
      border-top:1px solid #e1e1e1;
      &.active{
        .resources-item-title{
          background:#e6e6e6;
        }
        .resources-item-cont{
          display:inherit;
        }
      }
      .resources-item-title{
        text-indent:10px;
        padding:5px;
        cursor:pointer;
        background:#f1f1f1;
      }
      .resources-item-cont{
        display:none;
        .resource-item{
          margin:0 16px;
          padding:16px 0;
          border-bottom:1px solid #d8d8d8;
          .resource-item-info{
            height:38px;
            .resource-item-logo{
              font-size:38px;
              margin-right:16px;
              float:left;
              width:38px;
            }
            .resource-item-title{
              width:500px;
              float:left;
            }
            .resource-item-btn{
              float:right;
              i{
                font-size:18px;
                line-height:18px;
                vertical-align:middle;
                margin-right:6px;
                color:#55acef;
              }
            }
          }
          &:last-child{
            border-bottom:none;
          }
        }
      }
    }
  }
}
