
<div class="slidershow">
    <div class="sliderbox slider-pic">
        <div class="slideritem">
            <img src="http://placehold.it/2000x600/" alt=""/>
        </div>
        <div class="slideritem">
            <img src="http://placehold.it/2000x600/" alt=""/>
        </div>
        <div class="slideritem">
            <img src="http://placehold.it/2000x600/" alt=""/>
        </div>
    </div>
    <div class="sliderbox slider-text">
        <div class="slideritem">
            <div class="text-content">这里有最全面的项目学习资料 <br/> 最完整的项目学习案例</div>
            <div class="text-btn">
                <span class="btn btn-lg btn-blue">注册会员</span>
            </div>
        </div>
        <div class="slideritem">
            <div class="text-content">这里有最全面的项目学习资料 <br/> 最完整的项目学习案例</div>
        </div>
        <div class="slideritem">
            <div class="text-btn">
                <span class="btn btn-lg btn-blue">注册会员</span>
            </div>
        </div>
    </div>
    <div class="sliderctrl">
        <span class="ctrl-left ctrl-btn" ng-click="sliderPrev()">
            <i class="pf-arrow-left"></i>
        </span>
        <span class="ctrl-right ctrl-btn" ng-click="sliderNext()">
            <i class="pf-arrow-right"></i>
        </span>
    </div>
</div>