<div class="et-select" ng-transclude>
    <div class="et-select-container" ng-class="{active:selectConfig.focusin}">
        <input type="hidden" class="et-select-value" ng-model="selectConfig.ngModel" et-sync="selectConfig.syncConfig"/>
        <div class="et-select-label form-control" ng-class="{focusin:selectConfig.focusin}" ng-click="selectConfig.active($event)" ng-bind="(selectConfig.selected[selectConfig.label]||selectConfig.placeholder)|i18n"></div>
        <div class="et-select-options">
            <ul class="selection" ng-show="selectConfig.show" et-scrollbar>
                <li class="et-select-option" ng-class="{'et-select-selected active':selectConfig.isSelected(option)}" ng-click="selectConfig.select(option)" ng-bind="option[selectConfig.label]" ng-repeat="option in selectConfig.options">selectConfig.label</li>
            </ul>
        </div>
    </div>
</div>