<div class="form-horizontal todo-form">
    <div class="col-1-1">
        <span><i></i>全选</span>
        <span>已选择</span><span>1</span><span>个事项</span>
        <span><i></i></span>
    </div>
    <div class="col-1-1" class="todo-list" et-scrollbar>
        <div ng-repeat="queue in todoQueue">
            <div class="task-title" ng-click="queue.$show=!queue.$show">
                <i ng-class="queue.$show?'pf-triangle-up':'pf-triangle-down'"></i>
                <strong ng-bind="'任务 - '+queue.title"></strong>
            </div>
            <div ng-show="queue.$show">
                <div class="todo-item" ng-repeat="todo in queue">
                    <span class="todo-select"><i ng-click="completeTodo(todo);"></i></span>
                    <span class="todo-title" ng-bind="todo.content"
                      et-modal="title='查看事项';$todo=todo;controller='editTodoController';padding=20;src='home/map/todo/todo-view.html'"
                        ></span>
                    <span class="todo-endat" ng-bind="todo.start_at | date:'yyyy.MM.dd' +'到期'"></span>
                    <span class="todo-edit">
                    <i class="pf-edit" ng-if="currentUser.id==todo.user_id"
                       et-modal="title='修改事项';$todo=todo;controller='editTodoController';padding=20;src='home/map/todo/todo-set.html'"
                            ></i>
                    <i class="pf-trash-o" ng-click="removeTodo(todo)"></i>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>