构思

<div>
    项目名称： <input type="text" ng-model="vm.project.project_name"/>
</div>
<div>
    课标：
    <div ng-repeat="curriculum_standard in vm.project.curriculum_standards">
        ID:<input type="text" ng-model="curriculum_standard.id"/>
        标题:<input type="text" ng-model="curriculum_standard.title"/>
        <a href="javascript:void(0);" ng-click="vm.deleteCurriculumStandard(curriculum_standard.id)">delete</a>
    </div>
</div>
<div>
    技能：
    <div ng-repeat="skill in vm.project.skills">
        ID:<input type="text" ng-model="skill.id"/>标题:<input type="text" ng-model="skill.title"/>
    </div>
</div>
<div>
    驱动性问题：
    <textarea name=""  cols="30" rows="10" ng-model="vm.project.driven_issue"></textarea>
</div>
<div>
    课标解读：
    <textarea name=""  cols="30" rows="10" ng-model="vm.project.standard_analysis"></textarea>
</div>
<div>
    课标分解
</div>
<div>
    最终产品：
    <div>
        <div>作品形态:<input type="text" ng-model="vm.project.final_product.form.title"/></div>
        <div>上传示例:<input type="text" ng-model="vm.project.final_product.description"/></div>
        <div>描述:<input type="text" ng-model="vm.project.final_product.example"/></div>
    </div>
</div>
<div>
    阶段性产品：
    <div class="row" ng-repeat="stage in vm.project.stage_products">
        <div class=" col-md-offset-4" >作品形态:<input type="text" ng-model="stage.form.title"/></div>
        <div class=" col-md-offset-4" >上传示例:<input type="text" ng-model="stage.description"/></div>
        <div class=" col-md-offset-4" >描述:<input type="text" ng-model="stage.example"/></div>
    </div>
</div>
<div>
    <a href="javascript:void(0);" ng-click="vm.saveProject()">保存草稿</a>
    <a href="javascript:void(0);" ng-click="vm.goRubrics()">下一步</a>
</div>