<form class="form-horizontal">
    <div class="form-group">
        <label for="project[name]" class="control-label">项目名称：</label>
        <div class="col-1-1">
            <input type="text" id="project[name]" ng-model="vm.project.project_name" class="form-control" et-sync="{projectId:vm.project.id,project:{name:vm.project.project_name},$service:'Projects'}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">请选择1-3条课程标准：</label>
        <input type="hidden" ng-model="vm.project.standards"/>
        <span class="btn btn-gray btn-sm" role="button" et-modal="title='选择课标';padding=0;controller='StandardsController as vm';src='home/projects/create/standards.html'"><i class="pf-plus"></i> 选择课标</span>
        <div class="col-1-1">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="standard in vm.project.standards"><span ng-bind="standard.title"></span><i class="btn-mini pf-cross pull-right" ng-click="vm.removeStandard(standard)"></i></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">请选择本项目中学生需要使用的技能：</label>
        <input type="hidden" ng-model="vm.project.skills"/>
        <span class="btn btn-gray btn-sm" role="button" et-modal="title='选择技能';padding=0;controller='SkillsController as vm';src='home/projects/create/skills.html'"><i class="pf-plus"></i> 选择技能</span>
        <div class="col-1-1">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="skill in vm.project.skills"><span ng-bind="skill.title"></span><i class="btn-mini pf-cross pull-right" ng-click="vm.removeSkill(skill)"></i></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="project[driven_issue]" class="control-label">驱动性问题：</label>
        <div class="col-1-1">
            <textarea name=""  cols="30" rows="5" ng-model="vm.project.driven_issue" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        高级选项如何设计驱动性问题：（
        <a href="javascript:void(0);" ng-click="vm.showStandardAnalysis()">点击填写
            <span ng-show="vm.switchvmStandardAnalysis">↑</span>
            <span ng-hide="vm.switchvmStandardAnalysis">↓</span>
        </a>
        ）
    </div>
    <div class="form-group" ng-show="vm.switchvmStandardAnalysis">
        <label for="project[standard_analysis]" class="control-label">课标解读：（请填写这些标准对于现实世界的价值，您希望学生从中得到什么理解？）</label>
        <div class="col-1-1">
            <textarea name=""  cols="30" rows="5" ng-model="vm.project.standard_analysis" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group" ng-show="vm.switchvmStandardAnalysis">
        课标分解：（根据课标对于学生的要求，分解出要做的事情：动词+名词）
        <table class="table table-bordered col-1-1 margin-bottom-8">
            <tr>
                <td class="text-center">动词</td>
                <td class="text-center">名词</td>
                <td class="text-center">现实世界中的角色</td>
                <td class="text-center">现实世界的产品</td>
            </tr>
            <tr ng-repeat="decomposition in vm.project.standard_decompositions">
                <td><input type="text" ng-model="decomposition.verb" class="form-control ng-pristine ng-valid"/></td>
                <td><input type="text" ng-model="decomposition.noun" class="form-control ng-pristine ng-valid"/></td>
                <td><input type="text" ng-model="decomposition.role" class="form-control ng-pristine ng-valid"/></td>
                <td><input type="text" ng-model="decomposition.products" class="form-control ng-pristine ng-valid"/></td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <span class="btn btn-gray btn-sm control-label" role="button" ng-click="vm.addObjArray(vm.project.standard_decompositions)"><i class="pf-plus"></i>继续添加</span>
                </td>
            </tr>
        </table>

        <div class="col-1-1">
            <label for="project[final_product]" class="control-label">考虑规划的学生实现角色和最终产品，匹配选用的技能，缩小最终角色和产品的范围</label>
        </div>
        <div class="col-1-1">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="decomposition in vm.project.standard_decompositions">
                    <span ng-bind="decomposition.verb"></span>
                    如何
                    <input type="text" ng-model="decomposition.skill"/>
                    <span ng-bind="decomposition.noun"></span>
                    <span ng-bind="decomposition.role"></span>
                    来创建
                    <span ng-bind="decomposition.products"></span>
                    <i class="btn-mini pf-cross pull-right" ng-click="vm.removeObjArray(vm.project.standard_decompositions,decomposition)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group col-1-1">
        <div class="col-1-1">
            <label for="project[final_product]" class="control-label">最终产品：</label>
        </div>
        <div>
            <span class="btn btn-gray btn-sm" role="button" ng-click="vm.chooseWorksform('final_product',$index)" et-modal="title='作品形态';controller='WorksformController';width='70%';src='home/projects/create/worksform.html'"><span ng-bind="vm.project.final_product.worksform.title" ng-hide="vm.project.final_product.worksform==null"></span><span ng-show="vm.project.final_product.worksform==null"><i class="pf-plus"></i>选择作品形态</span></span>
            <span class="btn btn-gray btn-sm" role="button" bing="vm.project.final_product.example" et-modal="title='作品形态';controller='WorksformController';width='70%';src='home/projects/pane/modalworksform.html'"><i class="pf-plus"></i>上传示例</span>
            <div class="col-1-1 progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
            <div class="col-1-1">
                描述:
                <textarea name=""  cols="30" rows="5" ng-model="vm.project.final_product.description" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group col-1-1" >
        <div class="col-1-1">
            <span class="btn btn-gray btn-sm control-label" role="button" ng-click="vm.addObjArray(vm.project.stage_products)"><i class="pf-plus"></i>新增阶段性产品</span>
        </div>
    </div>
    <div class="form-group col-1-1" >
        <div ng-repeat="stage in vm.project.stage_products" class="offset-1-12 col-11-12 margin-top-8 margin-bottom-8">
            <span class="btn btn-gray btn-sm" role="button" ng-click="vm.chooseWorksform('stage',$index)" et-modal="title='作品形态';controller='WorksformController';width='70%';src='home/projects/create/worksform.html'"><span ng-bind="stage.worksform.title" ng-hide="stage.worksform==null"></span><span ng-show="stage.worksform==null"><i class="pf-plus"></i>选择作品形态</span></span>
            <span class="btn btn-gray btn-sm" role="button" bind="stage.example" et-modal="title='作品形态';controller='WorksformController';width='70%';src='home/projects/pane/modalworksform.html'"><i class="pf-plus"></i>上传示例</span>
            <div class="col-1-1">
                描述:
                <textarea name=""  cols="30" rows="5" ng-model="stage.description" class="form-control"></textarea>
            </div>

            <a href="javascript:void(0);" ng-click="vm.removeObjArray(vm.project.stage_products,stage)">delete</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-1-1" >
        <div class="col-1-1 text-right">
            <span class="btn" role="button" ng-click="vm.saveProject()">保存草稿</span>
            <span class="btn btn-blue" role="button" ng-click="next('gauges')">下一步</span>
        </div>
    </div>
</form>