构思

<div>
    项目名称： <input type="text" ng-model="vm.project.project_name"/>
</div>
<div>
    课标：
    <div ng-repeat="curriculum_standard in vm.project.curriculum_standards">
        ID:<input type="text" ng-model="curriculum_standard.id"/>
        标题:<input type="text" ng-model="curriculum_standard.title"/>
    </div>
</div>
<div>
    技能：
    <div ng-repeat="skill in vm.project.skills">
        ID:<input type="text" ng-model="skill.id"/>标题:<input type="text" ng-model="skill.title"/>
    </div>
</div>
<div>
    驱动性问题：
    <textarea name=""  cols="30" rows="10" ng-model="vm.project.driven_issue"></textarea>
</div>
<div>
    课标解读：
    <textarea name=""  cols="30" rows="10" ng-model="vm.project.standard_analysis"></textarea>
</div>
<div>
    课标分解：
    <a href="javascript:void(0);" ng-click="vm.addObjArray(vm.project.standard_decompositions)">add</a>
    <div ng-repeat="decomposition in vm.project.standard_decompositions">
        动词:<input type="text" ng-model="decomposition.verb"/>
        名词:<input type="text" ng-model="decomposition.noun"/>
        角色:<input type="text" ng-model="decomposition.role"/>
        产品:<input type="text" ng-model="decomposition.products"/>
        产品:<input type="text" ng-model="decomposition.skill"/>
        <a href="javascript:void(0);" ng-click="vm.deleteObjArray(vm.project.standard_decompositions,$index)">delete</a>
    </div>
</div>
<div>
    最终产品：
    <div>
        作品形态:<input type="text" ng-model="vm.project.final_product.form.title"/>
        上传示例:<input type="text" ng-model="vm.project.final_product.description"/>
        描述:<input type="text" ng-model="vm.project.final_product.example"/>
    </div>
</div>
<div class="row">
    阶段性产品：
    <a href="javascript:void(0);" ng-click="vm.addObjArray(vm.project.stage_products)">add</a>
    <div ng-repeat="stage in vm.project.stage_products">
        <a href="javascript:void(0);"
           et-modal="title='Modal'|i18n:3;controller='ModalDemoController';width='30%';src='demos/pane/demo.html'">选择作品形态</a>
        作品形态:<input type="text" ng-model="stage.form.title"/>
        上传示例:<input type="text" ng-model="stage.description"/>
        描述:<input type="text" ng-model="stage.example"/>
        <a href="javascript:void(0);" ng-click="vm.deleteObjArray(vm.project.stage_products,$index)">delete</a>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <a href="javascript:void(0);" ng-click="vm.saveProject()">保存草稿</a>
    <a href="javascript:void(0);" ng-click="vm.goRubrics()">下一步</a>
</div>