<form class="form-horizontal">
    <div class="form-group">
        项目量规：
    </div>
    <div class="form-group">
        课标分解：（根据课标对于学生的要求，分解出要做的事情：动词+名词）
        <table class="table table-bordered col-1-1 margin-bottom-8">
            <tr>
                <td class="text-center">动词</td>
                <td class="text-center">名词</td>
                <td class="text-center">现实世界中的角色</td>
                <td class="text-center">现实世界的产品</td>
            </tr>
            <tr ng-repeat="decomposition in vm.project.standard_decompositions">
                <td><input type="text" ng-model="decomposition.verb" class="form-control ng-pristine ng-valid"/></td>
                <td><input type="text" ng-model="decomposition.noun" class="form-control ng-pristine ng-valid"/></td>
                <td><input type="text" ng-model="decomposition.role" class="form-control ng-pristine ng-valid"/></td>
                <td><input type="text" ng-model="decomposition.products" class="form-control ng-pristine ng-valid"/></td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <span class="btn btn-gray btn-sm control-label" role="button" ng-click="vm.addObjArray(vm.project.standard_decompositions)"><i class="pf-plus"></i>继续添加</span>
                </td>
            </tr>
        </table>

    </div>
    <div class="form-group col-1-1" >
        <div class="col-1-1 text-right">
            <span class="btn btn-blue" role="button" ng-click="next('new')">下一步</span>
        </div>
    </div>
</form>