<div class="project-create-new offset-1-12">
    <form class="form-horizontal">
        <div class="form-group">
          <h2>基本信息填写</h2>
            <p>项目名称: <span ng-bind="vm.project.name"></span></p>
            <div class="form-group" style="position: relative;">
                <label class="control-label col-1-8">课程时长：</label>
               <div class="col-7-8">
                   <input style="width: 100px; height: 30px; display: inline-block"  type="number"  ng-model="vm.project.duration" class="form-control" et-sync="{projectId:vm.project.id,project:{duration:vm.project.duration},$service:'Projects'}"/>
                   <select style="width: 70px; height: 30px;" ng-model="vm.project.duration_unit" ng-options="cycle.title for cycle in vm.cycles" et-sync="{projectId:vm.project.id,project:{duration_unit:vm.project.duration_unit.id},$service:'Projects'}">
                   </select>
                  <input type="checkbox" ng-model="vm.project.public"/> 公开招募
                <input type="file" style="display: none;" class="pull-right">
                <span class="file-up">
                   <p class="circle"><i class="pf-camera"></i></p>
                    <p>上传封面</p>
                </span>
               </div>
            </div>
            <div class="form-group">
                <label class="control-label">添加标签：</label>
                  <div class="col-1-1">
                     <input type="text" ng-model="vm.project.tag_list" placeholder="请选择标签" on-change="vm.onChange()" et-tags/>
                  </div>
            </div>
            <div class="form-group">
                <label class="control-label">项目概述：</label>
                <div class="col-1-1"><textarea ng-model="vm.project.description" class="form-control"></textarea></div>
            </div>
            <div class="form-group">
                <label class="control-label">启动文档：</label>
                    <span class="btn btn-gray btn-sm control-label">上传文档</span>
               </div>
            <h2 class="margin-top-20">选择成员和老师</h2>
            <div class="form-group">
                <label class="control-label">选择成员：</label>
                <span class="btn btn-gray btn-sm control-label">点击选择</span>
            </div>
            <div class="form-group">
                <label class="control-label">指导老师：</label>
                <div class="col-1-1" style="position: relative;"><i class="pf-search"></i>  <input type="text" class="form-control"></div>
            </div>
        </div>

        <div class="form-group col-1-1" >
            <div class="col-1-1 text-right">
                <span class="btn btn-blue" role="button" ng-click="next('scaffold')">下一步</span>
            </div>
        </div>
    </form>

</div>
<!---->



<div class="input-group margin-top-20 offset-1-12">
   <span><i>现实角色</i><input type="text" placeholder="建筑设计师"/></span>如何 <span><i>使用技能</i><input type="text" placeholder="建筑设计师"/></span>
    <span><i>动词</i><input type="text" placeholder="建筑设计师设计建"/></span> 创建<span><i>动词</i><input type="text" placeholder="建筑"/></span><span><i>现实角色</i><input type="text" placeholder="建筑设计师"/></span>

</div>
<div class="input-group margin-top-20 offset-1-12">
    <span><input type="text" placeholder="建筑设计师"/></span>如何 <span><input type="text" placeholder="建筑设计师"/></span>
    <span><input type="text" placeholder="建筑设计师设计建"/></span> 创建<span><input type="text" placeholder="建筑"/></span><span><input type="text" placeholder="建筑设计师"/></span>

</div>




