@import "compass/css3";

.sns{
  .sns-tabs{
    .et-tabs-title{
      padding:0 8px !important;
      &:hover{
        color:#6a9fed;
      }
      &.active{
        color:#216fed;
      }
    }
  }
  ul.sns-list{
    padding:5px 0;
    li{
      line-height:30px;
      padding:3px 10px;
      margin-top:1px;
      cursor:pointer;
      &:hover{
        background:#f5f5f5;
      }
      img.avatar{
        float:left;
        width:30px;
        height:30px;
        margin-right:10px;
        vertical-align:middle;
        @include border-radius(50%);
      }
    }
  }
  .sns-search{
    position:relative;
    input{
      width:100%;
      border:1px solid #e5e5e5;
      line-height:20px;
      padding:5px 30px;
      background:transparent;
    }
    .pf-search, .sns-action{
      position:absolute;
      top:0;
      width:30px;
      height:30px;
      line-height:30px;
      font-size:18px;
      color:#999;
      text-align:center;
      &.pf-search{
        left:0;
        z-index:-1;
      }
      &.sns-action{
        right:0;
        font-size:15px;
        cursor:pointer;
        .pf-plus{
          line-height: 30px;
        }
        &:hover{
          color:#0064f0;
          .mini-menu{
            display:block;
          }
        }
      }
    }
    &.focusin{
      .pf-search{
        color:#0064f0;
      }
    }
  }
}